[Desktop Entry]
Name=AfterStep Home Page
GenericName=URL Link
Comment=http://www.afterstep.org/
Exec=ASRun --immidiate --cmd http://www.afterstep.org/index.php
Icon=logos/AfterStep
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=New in this version
GenericName=URL Link
Comment=http://cvs.aftercode.net/cgi-bin/viewcvs.cgi/afterstep-stable/NEW?rev=HEAD
Exec=ASRun --immidiate --cmd http://cvs.aftercode.net/cgi-bin/viewcvs.cgi/afterstep-stable/NEW?rev=HEAD
Icon=logos/AfterStep
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=Supported standards
GenericName=URL Link
Comment=http://standards.freedesktop.org/wm-spec/latest/
Exec=ASRun --immidiate --cmd http://standards.freedesktop.org/wm-spec/latest/
Icon=normal/Info
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=libAfterImage
GenericName=URL Link
Comment=http://www.afterstep.org/afterimage/
Exec=ASRun --immidiate --cmd http://www.afterstep.org/afterimage/
Icon=logos/AfterStep
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=AfterStep documentation
Name[af]=Dokumentasie
Name[am]=ማስረጃ
Name[ar]=وثائق
Name[be]=Дакумэнтацыя
Name[bg]=Документация
Name[bn]=ডকুমেন্টেশন
Name[bn_IN]=নথিপত্র
Name[ca]=Documentació
Name[cs]=Dokumentace
Name[cy]=Dogfennau
Name[da]=Dokumentation
Name[de]=Dokumentation
Name[el]=Τεκμηρίωση
Name[en_GB]=Documentation
Name[es]=Documentación
Name[et]=Dokumentatsioon
Name[fa]=نوشتارها
Name[fi]=Ohjeet
Name[fr]=Documentation
Name[gu]=દસ્તાવેજીકરણ
Name[he]=תיעוד
Name[hi]=दस्तावेज
Name[hr]=Dokumentacija
Name[hu]=Dokumentáció
Name[hy]=Դոկումենտացիա
Name[id]=Dokumentasi
Name[is]=Handbækur
Name[it]=Documentazione
Name[ja]=ドキュメント
Name[ka]=დოკუმენტაცია
Name[ko]=문서 자료
Name[lt]=Dokumentacija
Name[mk]=Документација
Name[ms]=Dokumentasi
Name[nb]=Dokumentasjon
Name[nl]=Documentatie
Name[no]=Dokumentasjon
Name[nso]=Go dira ditokumente
Name[pa]=ਦਸਤਾਵੇਜ਼
Name[pl]=Dokumentacja
Name[pt]=Documentação
Name[pt_BR]=Documentação
Name[ro]=Documentaţie
Name[ru]=Документация
Name[sk]=Dokumentácia
Name[sl]=Dokumentacija
Name[sr]=Документација
Name[sr@Latn]=Dokumentacija
Name[sv]=Dokumentation
Name[ta]=ஆவணமாக்கல்
Name[th]=เอกสารและคู่มือ
Name[tr]=Belgelendirme
Name[uk]=Документація
Name[vi]=Tài liệu
Name[zh_CN]=文档
Name[zh_TW]=說明文件
Name[zu]=Ukushicilelwa
GenericName=Local File Link
Comment=AfterStep manuals and help documents
Comment[af]=Handleidings en hulpdokumente
Comment[am]=የአሠራር መምሪያዎች እና መርጃ ሰነዶች
Comment[ar]=الدلائل ووثائق المساعدة
Comment[be]=Кіраўніцтвы й дакумэнты даведкі
Comment[bg]=Ръководства и помощни документи
Comment[bn]=নির্দেশিকা ও সহায়িকার ডকুমেন্ট
Comment[bn_IN]=নির্দেশিকা ও সহায়িকা
Comment[ca]=Manuals i documents d'ajuda
Comment[cs]=Manuály a dokumenty nápovědy
Comment[cy]=Llawlyfrau a dogfennau cymorth
Comment[da]=Manualer og hjælpedokumenter
Comment[de]=Handbücher und Hilfe-Dokumente
Comment[el]=Εγχειρίδια και έγγραφα βοήθειας
Comment[en_GB]=Manuals and help documents
Comment[es]=Manuales y documentación de ayuda
Comment[et]=Manuaalid ja abi dokumendid
Comment[fa]=کتابچه‌ها و نوشتارهای راهنما
Comment[fi]=Manuaalit ja ohjeet
Comment[fr]=Manuels et documents d'aide
Comment[gu]=મદદપત્રો અને મદદના દસ્તાવેજો
Comment[he]=מדריכים ומסמכי עזרה
Comment[hi]=निर्देश पुस्तिका और सहायक दस्तावेजन
Comment[hr]=Uputstva i pomoćna dokumentacija
Comment[hu]=Kézikönyvek és leírások
Comment[hy]=Ձեռնարկներ և օգնություն
Comment[id]=Manual dan dokumen bantuan
Comment[is]=Handbækur og önnur hjálparskjöl
Comment[it]=Manuali e guide
Comment[ja]=マニュアルとヘルプのドキュメント
Comment[ka]=ინსტრუქციები და დამხმარე დოკუმენტები
Comment[ko]=메뉴얼과 도움말 문서 자료
Comment[lt]=Aprašymai ir pagalbos dokumentai
Comment[mk]=Документи и прирачници за помош
Comment[ms]=Manual dan dokumen bantuan
Comment[nb]=Håndbøker og hjelpdokumenter
Comment[nl]=Handboeken en hulpdocumenten
Comment[no]=Håndbøker og hjelpdokumenter
Comment[nso]=Dipukwana le ditokumente tša thušo
Comment[pa]=ਦਸਤਾਵੇਜ਼ ਅਤੇ ਸਹਾਇਤਾ ਦਸਤਾਵੇਜ਼
Comment[pl]=Podręczniki i dokumenty pomocy
Comment[pt]=Manuais e documentos de ajuda
Comment[pt_BR]=Manuais e documentos de ajuda
Comment[ro]=Manuale şi documente de ajutor
Comment[ru]=Руководства и справочные документы
Comment[sk]=Príručky a návody
Comment[sl]=Priročniki in dokumenti s pomočjo
Comment[sr]=Приручници и помоћна документација
Comment[sr@Latn]=Priručnici i pomoćna dokumentacija
Comment[sv]=Manualer och hjälpdokument
Comment[ta]=கையேடுகள் மற்றும் உதவி ஆவணங்கள்
Comment[th]=คู่มือ และ เอกสารช่วยเหลือ
Comment[tr]=Kılavuzlar ve yardım belgeleri
Comment[uk]=Посібники та довідникові документи
Comment[vi]=Tài liệu trợ giúp
Comment[zh_CN]=说明手册和帮助文档
Comment[zh_TW]=使用手冊與說明文件
Comment[zu]=Imiqulu kanye nemibhalo yokushicilela
Exec=afterstepdoc
Icon=normal/Library
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=afterstepdoc

[Desktop Entry]
Name=AfterStep Wikipedia entry
GenericName=URL Link
Comment=http://en.wikipedia.org/wiki/Afterstep
Exec=ASRun --immidiate --cmd http://en.wikipedia.org/wiki/Afterstep
Icon=normal/Info
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=AfterWiki - user tips, info
GenericName=URL Link
Comment=http://wiki.afterstep.org/
Exec=ASRun --immidiate --cmd http://wiki.afterstep.org/
Icon=normal/Info
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun

[Desktop Entry]
Name=Reported bugs and issues
GenericName=URL Link
Comment=http://bugs.afterprojects.org
Exec=ASRun --immidiate --cmd http://bugs.afterprojects.org
Icon=normal/Bug
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepInfo
TryExec=ASRun
