[Desktop Entry]
Name=Pager config
GenericName=Pager config 
Comment=Module to provide for visual feedback and navigation of virtual desktops.
Exec=ASRun --afterstep-config pager
Icon=normal/Pager
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=WinList config
GenericName=WinList config
Comment=Module to display buttons for all open windows.
Exec=ASRun --afterstep-config winlist
Icon=normal/WinList
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Wharf config
GenericName=Wharf config
Comment=Launchbar type module able to swallow open windows and organize stuff in folders.
Exec=ASRun --afterstep-config wharf
Icon=normal/Wharf
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Term tabs config
GenericName=WinTabs config
Comment=Organizer for open term windows into a single tabbed window.
Exec=ASRun --afterstep-config wintabs
Icon=normal/wintabs
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Animate config
GenericName=Animate config
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
Exec=ASRun --afterstep-config animate
Icon=normal/Butterfly
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true


[Desktop Entry]
Name=Base
GenericName=Base
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
Exec=ASRun --afterstep-config base
Icon=normal/DNA
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Database
GenericName=Database
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
Exec=ASRun --afterstep-config database
Icon=normal/Table
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=AutoExec
GenericName=AutoExec
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
Exec=ASRun --afterstep-config autoexec
Icon=normal/Bomb
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Banner
GenericName=Banner
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
Exec=ASRun --afterstep-config banner
Icon=normal/Mona
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true

[Desktop Entry]
Name=Look
GenericName=Look
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
#Exec=ASRun --afterstep-config look.YourName
Exec=ASRun --afterstep-config look
Icon=normal/EyeInMonitor2
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true


[Desktop Entry]
Name=Feel
GenericName=Feel
Comment=Module that shows funky animations when windows are being minimized/maximized etc.
#Exec=ASRun --afterstep-config feel.YourName
Exec=ASRun --afterstep-config feel
Icon=normal/Glove
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=AfterStepConfig
X-AfterStep-ASModule=true
