[Desktop Entry]
Name=GNOME File Search Tool
GenericName=System Search
Comment=Find Files/Folders
Comment[af]=Soek Lêers/Gidse
Comment[bg]=Търсене на файлове
Comment[bn]=ফাইল/ফোল্ডার অনুসন্ধান
Comment[br]=Klask restroù/renkelloù
Comment[bs]=Pronađi datoteke
Comment[ca]=Cerca fitxers i carpetes
Comment[cs]=Najít soubory/složky
Comment[da]=Find filer/mapper
Comment[de]=Dateien/Ordner suchen
Comment[el]=Αναζήτηση αρχείων/φακέλων
Comment[es]=Buscar archivos/carpetas
Comment[et]=Failide/kataloogide otsimine
Comment[eu]=Bilatu fitxategiak/karpetak
Comment[fa]=یافتن پرونده‌ها/پوشه‌ها
Comment[fi]=Etsi tiedostoja ja kansioita
Comment[fr]=Recherche de fichiers/dossiers
Comment[fy]=Triemmen/mappen sykje
Comment[ga]=Aimsigh Comhaid/Comhadlanna
Comment[gl]=Buscar Arquivos
Comment[he]=חפש קבצים או תיקיות
Comment[hr]=Traži datoteke/mape
Comment[hu]=Fájlkereső
Comment[is]=Finna skrár/möppur
Comment[it]=Trova file/cartelle
Comment[ja]=ファイル/フォルダを検索
Comment[km]=រក​ឯកសារ/ថត
Comment[lt]=Rasti bylas/aplankus
Comment[lv]=Meklēt Failus/Mapes
Comment[mk]=Пронајди датотеки/папки
Comment[ms]=Cari Fail/Folder
Comment[nb]=Finn filer/mapper
Comment[nds]=Dateien/Ornern söken
Comment[nl]=Bestanden/mappen zoeken
Comment[nn]=Finn filer/mapper
Comment[pa]=ਫਾਇਲ/ਫੋਲਡਰ ਖੋਜ
Comment[pl]=Wyszukiwanie plików/katalogów
Comment[pt]=Procurar Ficheiros/Pastas
Comment[pt_BR]=Procurar arquivos/pastas
Comment[ro]=Caută fişiere/foldere
Comment[ru]=Поиск файлов и папок
Comment[rw]=Gushaka Amadosiye/Ububiko
Comment[se]=Oza fiillaid dahje máhpaid
Comment[sk]=Hľadať súbory/priečinky
Comment[sl]=Najdi datoteke in mape
Comment[sr]=Тражење фајлова/фасцикли
Comment[sr@Latn]=Traženje fajlova/fascikli
Comment[sv]=Hitta filer eller kataloger
Comment[ta]=கோப்புகள்/அடைவுகளைக் கண்டுபிடி
Comment[tg]=Ҷустуҷӯи файлҳо/феҳристҳо
Comment[th]=ค้นหาแฟ้ม/โฟลเดอร์
Comment[tr]=Dosya/Dizin Bul
Comment[tt]=Birem/Törgäk Ezläw
Comment[uk]=Пошук файлів та тек
Comment[uz]=Файл/жилдларни қидириш
Comment[vi]=Tìm Tập tin/Thư mục
Comment[zh_CN]=查找文件/文件夹
Comment[zh_TW]=尋找檔案/資料夾
Exec=gnome-search-tool
Icon=normal/MagnifyingGlass2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SearchTool
X-AfterStep-IndexName=gnome-search-tool
TryExec=gnome-search-tool

[Desktop Entry]
Name=KDE File Search Tool
GenericName=System Search
Comment=Find Files/Folders
Comment[af]=Soek Lêers/Gidse
Comment[bg]=Търсене на файлове
Comment[bn]=ফাইল/ফোল্ডার অনুসন্ধান
Comment[br]=Klask restroù/renkelloù
Comment[bs]=Pronađi datoteke
Comment[ca]=Cerca fitxers i carpetes
Comment[cs]=Najít soubory/složky
Comment[da]=Find filer/mapper
Comment[de]=Dateien/Ordner suchen
Comment[el]=Αναζήτηση αρχείων/φακέλων
Comment[es]=Buscar archivos/carpetas
Comment[et]=Failide/kataloogide otsimine
Comment[eu]=Bilatu fitxategiak/karpetak
Comment[fa]=یافتن پرونده‌ها/پوشه‌ها
Comment[fi]=Etsi tiedostoja ja kansioita
Comment[fr]=Recherche de fichiers/dossiers
Comment[fy]=Triemmen/mappen sykje
Comment[ga]=Aimsigh Comhaid/Comhadlanna
Comment[gl]=Buscar Arquivos
Comment[he]=חפש קבצים או תיקיות
Comment[hr]=Traži datoteke/mape
Comment[hu]=Fájlkereső
Comment[is]=Finna skrár/möppur
Comment[it]=Trova file/cartelle
Comment[ja]=ファイル/フォルダを検索
Comment[km]=រក​ឯកសារ/ថត
Comment[lt]=Rasti bylas/aplankus
Comment[lv]=Meklēt Failus/Mapes
Comment[mk]=Пронајди датотеки/папки
Comment[ms]=Cari Fail/Folder
Comment[nb]=Finn filer/mapper
Comment[nds]=Dateien/Ornern söken
Comment[nl]=Bestanden/mappen zoeken
Comment[nn]=Finn filer/mapper
Comment[pa]=ਫਾਇਲ/ਫੋਲਡਰ ਖੋਜ
Comment[pl]=Wyszukiwanie plików/katalogów
Comment[pt]=Procurar Ficheiros/Pastas
Comment[pt_BR]=Procurar arquivos/pastas
Comment[ro]=Caută fişiere/foldere
Comment[ru]=Поиск файлов и папок
Comment[rw]=Gushaka Amadosiye/Ububiko
Comment[se]=Oza fiillaid dahje máhpaid
Comment[sk]=Hľadať súbory/priečinky
Comment[sl]=Najdi datoteke in mape
Comment[sr]=Тражење фајлова/фасцикли
Comment[sr@Latn]=Traženje fajlova/fascikli
Comment[sv]=Hitta filer eller kataloger
Comment[ta]=கோப்புகள்/அடைவுகளைக் கண்டுபிடி
Comment[tg]=Ҷустуҷӯи файлҳо/феҳристҳо
Comment[th]=ค้นหาแฟ้ม/โฟลเดอร์
Comment[tr]=Dosya/Dizin Bul
Comment[tt]=Birem/Törgäk Ezläw
Comment[uk]=Пошук файлів та тек
Comment[uz]=Файл/жилдларни қидириш
Comment[vi]=Tìm Tập tin/Thư mục
Comment[zh_CN]=查找文件/文件夹
Comment[zh_TW]=尋找檔案/資料夾
Exec=kfind
Icon=normal/MagnifyingGlass2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SearchTool
X-AfterStep-IndexName=kfind
TryExec=kfind

[Desktop Entry]
Name=Console Find
GenericName=System Search
Comment=Find Files/Folders
Comment[af]=Soek Lêers/Gidse
Comment[bg]=Търсене на файлове
Comment[bn]=ফাইল/ফোল্ডার অনুসন্ধান
Comment[br]=Klask restroù/renkelloù
Comment[bs]=Pronađi datoteke
Comment[ca]=Cerca fitxers i carpetes
Comment[cs]=Najít soubory/složky
Comment[da]=Find filer/mapper
Comment[de]=Dateien/Ordner suchen
Comment[el]=Αναζήτηση αρχείων/φακέλων
Comment[es]=Buscar archivos/carpetas
Comment[et]=Failide/kataloogide otsimine
Comment[eu]=Bilatu fitxategiak/karpetak
Comment[fa]=یافتن پرونده‌ها/پوشه‌ها
Comment[fi]=Etsi tiedostoja ja kansioita
Comment[fr]=Recherche de fichiers/dossiers
Comment[fy]=Triemmen/mappen sykje
Comment[ga]=Aimsigh Comhaid/Comhadlanna
Comment[gl]=Buscar Arquivos
Comment[he]=חפש קבצים או תיקיות
Comment[hr]=Traži datoteke/mape
Comment[hu]=Fájlkereső
Comment[is]=Finna skrár/möppur
Comment[it]=Trova file/cartelle
Comment[ja]=ファイル/フォルダを検索
Comment[km]=រក​ឯកសារ/ថត
Comment[lt]=Rasti bylas/aplankus
Comment[lv]=Meklēt Failus/Mapes
Comment[mk]=Пронајди датотеки/папки
Comment[ms]=Cari Fail/Folder
Comment[nb]=Finn filer/mapper
Comment[nds]=Dateien/Ornern söken
Comment[nl]=Bestanden/mappen zoeken
Comment[nn]=Finn filer/mapper
Comment[pa]=ਫਾਇਲ/ਫੋਲਡਰ ਖੋਜ
Comment[pl]=Wyszukiwanie plików/katalogów
Comment[pt]=Procurar Ficheiros/Pastas
Comment[pt_BR]=Procurar arquivos/pastas
Comment[ro]=Caută fişiere/foldere
Comment[ru]=Поиск файлов и папок
Comment[rw]=Gushaka Amadosiye/Ububiko
Comment[se]=Oza fiillaid dahje máhpaid
Comment[sk]=Hľadať súbory/priečinky
Comment[sl]=Najdi datoteke in mape
Comment[sr]=Тражење фајлова/фасцикли
Comment[sr@Latn]=Traženje fajlova/fascikli
Comment[sv]=Hitta filer eller kataloger
Comment[ta]=கோப்புகள்/அடைவுகளைக் கண்டுபிடி
Comment[tg]=Ҷустуҷӯи файлҳо/феҳристҳо
Comment[th]=ค้นหาแฟ้ม/โฟลเดอร์
Comment[tr]=Dosya/Dizin Bul
Comment[tt]=Birem/Törgäk Ezläw
Comment[uk]=Пошук файлів та тек
Comment[uz]=Файл/жилдларни қидириш
Comment[vi]=Tìm Tập tin/Thư mục
Comment[zh_CN]=查找文件/文件夹
Comment[zh_TW]=尋找檔案/資料夾
Exec=ASRun --exec-in-term --cmd find
Icon=normal/MagnifyingGlass
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SearchTool
TryExec=find


[Desktop Entry]
Name=Google Internet Search
GenericName=Internet Search
Comment=Search the World Wide Web using Google.
Exec=ASRun --immidiate --cmd http://www.google.com
Icon=normal/WWW
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SearchTool
TryExec=ASRun

[Desktop Entry]
Name=Yahoo Internet Search
GenericName=Internet Search
Comment=Search the World Wide Web using Yahoo.
Exec=ASRun --immidiate --cmd http://www.yahoo.com
Icon=normal/WWW
Terminal=false
Type=Application
Encoding=UTF-8
Categories=SearchTool
TryExec=ASRun

