[Desktop Entry]
Name=XBill
GenericName=Game
Comment=Stop Bill from loading his OS into all the computers.
Exec=xbill
Icon=normal/GameController
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;ArcadeGame;
TryExec=xbill

[Desktop Entry]
Name=XPat2 Solitare
GenericName=Card Game
Comment=Solitaire game - supports 14 games including Klondike, Free Cell, Spider, Calculation, & Gypsy.
Name[af]=Xpat 2
Name[eo]=X-Solitero 2
Name[ja]=X Pat 2
Name[sv]=Xpat 2
GenericName[af]=Kaart Speletjie
GenericName[ar]=لعبة ورق
GenericName[be]=Картачная гульня
GenericName[bg]=Игра на Карти
GenericName[bs]=Igra s kartama
GenericName[cs]=Karty
GenericName[da]=Kortspil
GenericName[de]=Kartenspiel
GenericName[el]=Παιχνίδι Καρτών
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[he]=משחק קלפים
GenericName[hu]=kártyajáték
GenericName[is]=Spilaleikur
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu Spēle
GenericName[mt]=Logħba tal-karti
GenericName[nb]=Kabaler
GenericName[nl]=kaartspel
GenericName[nn]=Kortspel
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Cartas
GenericName[ro]=Un joc de cărţi
GenericName[ru]=Карточная игра
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sv]=Kortspel
GenericName[th]=เกมไพ่
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Карти
GenericName[ven]=Garata ya mutambo
GenericName[vi]=Trò chơi bài
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
GenericName[zu]=Umdlalo Wekhadi
Comment[af]=Kaart Speletjie
Comment[ar]=لعبة ورق
Comment[be]=Картачная гульня
Comment[bg]=Игра на Карти
Comment[bs]=Igra s kartama
Comment[cs]=Karty
Comment[da]=Kortspil
Comment[de]=Kartenspiel
Comment[el]=Παιχνίδι Καρτών
Comment[eo]=Kartludo
Comment[es]=Juego de cartas
Comment[et]=Kaardimäng
Comment[fi]=Korttipeli
Comment[fr]=Jeu de cartes
Comment[he]=משחק קלפים
Comment[hu]=kártyajáték
Comment[is]=Spilaleikur
Comment[it]=Gioco di carte
Comment[ja]=カードゲーム
Comment[lt]=Kortų žaidimas
Comment[lv]=Kāršu Spēle
Comment[mt]=Logħba tal-karti
Comment[nb]=Kabaler
Comment[nl]=kaartspel
Comment[nn]=Kortspel
Comment[pl]=Gra karciana
Comment[pt]=Jogo de Cartas
Comment[pt_BR]=Cartas
Comment[ro]=Un joc de cărţi
Comment[ru]=Карточная игра
Comment[sk]=Kartová hra
Comment[sl]=Igra s kartami
Comment[sv]=Kortspel
Comment[th]=เกมไพ่
Comment[tr]=İskambil Oyunu
Comment[uk]=Карти
Comment[ven]=Garata ya mutambo
Comment[vi]=Trò chơi bài
Comment[zh_CN]=牌类游戏
Comment[zh_TW]=紙牌遊戲
Comment[zu]=Umdlalo Wekhadi
Exec=xpat2
Icon=normal/Cardgames
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;CardGame;
X-AfterStep-IndexName=xpat2
TryExec=xpat2

[Desktop Entry]
Name=Scavenger
GenericName=Arcade Game
Comment=Scavenger is a cool arcade-thinking game very much like Lode Runner.
Name[af]=Aasdier
Name[eo]=Stratbalaisto
Name[lt]=Šiukšlininkas
Name[lv]=Scavendžers
Name[pl]=Padlinożerca
Name[ven]=Mulazwosalaho
Name[zh_CN]=清道夫
GenericName[af]=Arkade Speletjie
GenericName[ar]=لعبة أركاد
GenericName[be]=Аркадная гульня
GenericName[bg]=Игра в Галерия със сводове
GenericName[bs]=Arkadna igra
GenericName[cs]=Arkádová hra
GenericName[da]=Arkade-videospil
GenericName[de]=Arkade-Spiel
GenericName[el]=Παιχνίδι Arcade
GenericName[eo]=Arkadoludo
GenericName[es]=Juego de Arcade
GenericName[et]=Põnevusmäng
GenericName[eu]=Arcade Jokoa
GenericName[fi]=Arcade peli
GenericName[fr]=Jeu d'arcade
GenericName[he]=משחק Arcade
GenericName[hu]=ügyességi
GenericName[is]=Spilasalsleikur
GenericName[it]=Gioco arcade
GenericName[ja]=アーケードゲーム
GenericName[lt]=Arkadinis žaidimas
GenericName[lv]=Arkādes Spēle
GenericName[mt]=Logħba tal-arcades
GenericName[nb]=Hallspill
GenericName[nl]=arcade-spel
GenericName[nn]=Arkadespel
GenericName[pl]=Gra zręcznościowa
GenericName[pt]=Jogo de Arcada
GenericName[pt_BR]= Arcade
GenericName[ro]=Un joc de aventuri
GenericName[ru]=Аркадная игра
GenericName[sk]=Dobrodružná hra
GenericName[sl]=Arkadna igra
GenericName[sv]=Arkadspel
GenericName[th]=เกมอาเขต
GenericName[tr]=Macera oyunu
GenericName[uk]=Гра "Arcade"
GenericName[ven]=Mutambo wa Akheidi
GenericName[vi]=Trò chơi Arcade
GenericName[xh]=Umdlalo we Arcade
GenericName[zh_CN]=街机游戏
GenericName[zh_TW]=電子遊戲
GenericName[zu]=Arcade Umdlalo
Comment[af]=Arkade Speletjie
Comment[ar]=لعبة أركاد
Comment[be]=Аркадная гульня
Comment[bg]=Игра в Галерия със сводове
Comment[bs]=Arkadna igra
Comment[cs]=Arkádová hra
Comment[da]=Arkade-videospil
Comment[de]=Arkade-Spiel
Comment[el]=Παιχνίδι Arcade
Comment[eo]=Arkadoludo
Comment[es]=Juego de Arcade
Comment[et]=Põnevusmäng
Comment[eu]=Arcade Jokoa
Comment[fi]=Arcade peli
Comment[fr]=Jeu d'arcade
Comment[he]=משחק Arcade
Comment[hu]=ügyességi
Comment[is]=Spilasalsleikur
Comment[it]=Gioco arcade
Comment[ja]=アーケードゲーム
Comment[lt]=Arkadinis žaidimas
Comment[lv]=Arkādes Spēle
Comment[mt]=Logħba tal-arcades
Comment[nb]=Hallspill
Comment[nl]=arcade-spel
Comment[nn]=Arkadespel
Comment[pl]=Gra zręcznościowa
Comment[pt]=Jogo de Arcada
Comment[pt_BR]= Arcade
Comment[ro]=Un joc de aventuri
Comment[ru]=Аркадная игра
Comment[sk]=Dobrodružná hra
Comment[sl]=Arkadna igra
Comment[sv]=Arkadspel
Comment[th]=เกมอาเขต
Comment[tr]=Macera oyunu
Comment[uk]=Гра "Arcade"
Comment[ven]=Mutambo wa Akheidi
Comment[vi]=Trò chơi Arcade
Comment[xh]=Umdlalo we Arcade
Comment[zh_CN]=街机游戏
Comment[zh_TW]=電子遊戲
Comment[zu]=Arcade Umdlalo
Exec=scavenger
Icon=normal/GameController
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;ArcadeGame;
TryExec=scavenger
