[Desktop Entry]
Name=Xfig
GenericName=Drawing Program
Comment=Drawing Program
Name[eo]=XDesegno
Name[fr]=XFig
Name[zh_TW]=Xfig 繪圖程式
GenericName[af]=Teken Program
GenericName[ar]=برنامج الرسم
GenericName[bg]=Програма за Рисуване
GenericName[bs]=Program za crtanje
GenericName[cs]=Kreslící program
GenericName[da]=Tegneprogram
GenericName[de]=Zeichenprogramm
GenericName[el]=Πρόγραμμα Ζωγραφικής
GenericName[eo]=Desegnilo
GenericName[es]=Programa de dibujo
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazteko Programa
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Logiciel de dessin
GenericName[he]=תוכנית ציור
GenericName[hu]=rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ドローイングプログラム
GenericName[lt]=Braižymo programa
GenericName[lv]=Zīmēšanas Programma
GenericName[mt]=Programm tat-tpinġija
GenericName[nb]=Tegneprogram
GenericName[nl]=tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[pl]=Program do rysowania
GenericName[pt]=Programa de Desenho
GenericName[pt_BR]=Programa de Desenho
GenericName[ro]=Program de desenare
GenericName[ru]=Графика X
GenericName[sk]=Kreslenie
GenericName[sl]=Risarski program
GenericName[sv]=Ritprogram
GenericName[ta]=Å¨Ã× ¿¢Ãø
GenericName[th]=โปรแกรมวาดภาพ
GenericName[tr]=Çizim Programı
GenericName[uk]=Програма для креслення
GenericName[ven]=Mbekanyomushumo ya u ola
GenericName[vi]=Chương trình vẽ
GenericName[xh]=Iprogramme Yemizobo
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=繪圖程式
GenericName[zu]=Iprogremu Yemidwebo
Comment[af]=Teken Program
Comment[ar]=برنامج الرسم
Comment[bg]=Програма за Рисуване
Comment[bs]=Program za crtanje
Comment[cs]=Kreslící program
Comment[da]=Tegneprogram
Comment[de]=Zeichenprogramm
Comment[el]=Πρόγραμμα Ζωγραφικής
Comment[eo]=Desegnilo
Comment[es]=Programa de dibujo
Comment[et]=Joonistusprogramm
Comment[eu]=Marrazteko Programa
Comment[fi]=Piirto-ohjelma
Comment[fr]=Logiciel de dessin
Comment[he]=תוכנית ציור
Comment[hu]=rajzolóprogram
Comment[is]=Teikniforrit
Comment[it]=Programma di disegno
Comment[ja]=ドローイングプログラム
Comment[lt]=Braižymo programa
Comment[lv]=Zīmēšanas Programma
Comment[mt]=Programm tat-tpinġija
Comment[nb]=Tegneprogram
Comment[nl]=tekenprogramma
Comment[nn]=Teikneprogram
Comment[pl]=Program do rysowania
Comment[pt]=Programa de Desenho
Comment[pt_BR]=Programa de Desenho
Comment[ro]=Program de desenare
Comment[ru]=Графика X
Comment[sk]=Kreslenie
Comment[sl]=Risarski program
Comment[sv]=Ritprogram
Comment[ta]=Å¨Ã× ¿¢Ãø
Comment[th]=โปรแกรมวาดภาพ
Comment[tr]=Çizim Programı
Comment[uk]=Програма для креслення
Comment[ven]=Mbekanyomushumo ya u ola
Comment[vi]=Chương trình vẽ
Comment[xh]=Iprogramme Yemizobo
Comment[zh_CN]=绘图程序
Comment[zh_TW]=繪圖程式
Comment[zu]=Iprogremu Yemidwebo
Exec=xfig
Icon=normal/Paint
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Graphics
TryExec=xfig

[Desktop Entry]
Name=XV Image Viewer
GenericName=Image Viewer
Comment=Provides image manipulating and processing features
GenericName[af]=Prent Aansig
GenericName[ar]=عارض صور
GenericName[bg]=Преглед на Картинки
GenericName[bs]=Preglednik slika
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολή Εικόνων
GenericName[eo]=Bildorigardilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildifailide vaatamine
GenericName[eu]=Irudi Ikusgailua
GenericName[fi]=Kuviennäyttäjä
GenericName[fr]=Afficheur d'images
GenericName[he]=מציג תמונות
GenericName[hu]=képnézegető
GenericName[is]=Myndaskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューア
GenericName[lt]=Paveikslėlių žiūriklis
GenericName[lv]=Bilžu Skatītājs
GenericName[mt]=Werrej ta' stampi
GenericName[nb]=Bildefremviser
GenericName[nl]=afbeeldingenweergaveprogramma
GenericName[nn]=Biletvisar
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizor de imagini
GenericName[ru]=Программа просмотра изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sv]=Bildvisare
GenericName[ta]=º¢ò¾¢Ãì ¸¡ðÊ
GenericName[th]=เครื่องมือแสดงภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень
GenericName[ven]=Muvhoni wa Tshifanyiso
GenericName[vi]=Trình xem ảnh
GenericName[xh]=Umboniseli Womfanekiso Obheka Phambili
GenericName[zh_CN]=图片查看器
GenericName[zh_TW]=圖片瀏覽程式
GenericName[zu]=Umboniseli Womfanekiso
Comment[af]=Prent Aansig
Comment[ar]=عارض صور
Comment[bg]=Преглед на Картинки
Comment[bs]=Preglednik slika
Comment[cs]=Prohlížeč obrázků
Comment[da]=Billedfremviser
Comment[de]=Bildbetrachter
Comment[el]=Προβολή Εικόνων
Comment[eo]=Bildorigardilo
Comment[es]=Visor de imágenes
Comment[et]=Pildifailide vaatamine
Comment[eu]=Irudi Ikusgailua
Comment[fi]=Kuviennäyttäjä
Comment[fr]=Afficheur d'images
Comment[he]=מציג תמונות
Comment[hu]=képnézegető
Comment[is]=Myndaskoðari
Comment[it]=Visualizzatore di immagini
Comment[ja]=画像ビューア
Comment[lt]=Paveikslėlių žiūriklis
Comment[lv]=Bilžu Skatītājs
Comment[mt]=Werrej ta' stampi
Comment[nb]=Bildefremviser
Comment[nl]=afbeeldingenweergaveprogramma
Comment[nn]=Biletvisar
Comment[pl]=Przeglądarka obrazów
Comment[pt]=Visualizador de Imagens
Comment[pt_BR]=Visualizador de Imagens
Comment[ro]=Vizualizor de imagini
Comment[ru]=Программа просмотра изображений
Comment[sk]=Prehliadač obrázkov
Comment[sl]=Pregledovalnik slik
Comment[sv]=Bildvisare
Comment[ta]=º¢ò¾¢Ãì ¸¡ðÊ
Comment[th]=เครื่องมือแสดงภาพ
Comment[tr]=Resim Görüntüleyici
Comment[uk]=Переглядач зображень
Comment[ven]=Muvhoni wa Tshifanyiso
Comment[vi]=Trình xem ảnh
Comment[xh]=Umboniseli Womfanekiso Obheka Phambili
Comment[zh_CN]=图片查看器
Comment[zh_TW]=圖片瀏覽程式
Comment[zu]=Umboniseli Womfanekiso
Exec=xv
Icon=normal/XV
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Graphics
TryExec=xv

[Desktop Entry]
Name=ImageMagick Image Viewer
GenericName=Image Viewer
Comment=X application for displaying and manipulating images
Exec=display
Icon=normal/View
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Graphics
TryExec=display

[Desktop Entry]
Name=X Paint
GenericName=Paint Program
Comment=Xcolor image editing tool
Name[af]=X Verf
Name[ar]=رسام X
Name[da]=X-maler
Name[eo]=XPentro
Name[es]=XPaint
Name[fr]=XPaint
Name[is]=X-teikniforrit
Name[ko]=X용 패인트
Name[mi]=Peita X
Name[sv]=X paint
Name[ven]=Pennde ya X
Name[xh]=X ipeyinti
Name[zh_CN]=X 绘图
Name[zh_TW]=X 小畫家
Name[zu]=X Upende
GenericName[af]=Verf Program
GenericName[ar]=برنامج تلوين
GenericName[bg]=Програма за Цветовете
GenericName[bs]=Jednostavni program za crtanje
GenericName[cs]=Kreslící program
GenericName[da]=Maleprogram
GenericName[de]=Malprogramm
GenericName[el]=Πρόγραμμα Ζωγραφικής
GenericName[eo]=Pentrilo
GenericName[es]=Programa de pintura
GenericName[et]=Joonistusprogramm
GenericName[eu]=Margoketa Programa
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Petit programme de dessin
GenericName[he]=תוכנית ציור
GenericName[hu]=rajzolóprogram
GenericName[is]=Málunarforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ペイントプログラム
GenericName[lt]=Piešimo programa
GenericName[lv]=Krāsošanas Programma
GenericName[mt]=Programm sempliċi tat-tpinġija
GenericName[nb]=Male-program
GenericName[nl]=tekenprogramma
GenericName[nn]=Måleprogram
GenericName[pl]=Program Paint
GenericName[pt]=Programa de Pintura
GenericName[pt_BR]=Programa de pintura
GenericName[ro]=Un program de desenare
GenericName[ru]=Графический редактор
GenericName[sk]=Kreslenie
GenericName[sl]=Slikarski program
GenericName[sv]=Ritprogram
GenericName[ta]=¾£üÚ ¿¢Ãø
GenericName[th]=โปรแกรมวาดภาพธรรมดาๆ
GenericName[tr]=Boyama Programı
GenericName[uk]=Програма для малювання
GenericName[ven]=Mbekanyamushumo ya Pennde
GenericName[vi]=Chương trình vẽ
GenericName[xh]=Udweliso lwenkqubo lwepeyinti
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=繪圖程式
GenericName[zu]=Elila Iprogremu Kapende
Comment[af]=Verf Program
Comment[ar]=برنامج تلوين
Comment[bg]=Програма за Цветовете
Comment[bs]=Jednostavni program za crtanje
Comment[cs]=Kreslící program
Comment[da]=Maleprogram
Comment[de]=Malprogramm
Comment[el]=Πρόγραμμα Ζωγραφικής
Comment[eo]=Pentrilo
Comment[es]=Programa de pintura
Comment[et]=Joonistusprogramm
Comment[eu]=Margoketa Programa
Comment[fi]=Piirto-ohjelma
Comment[fr]=Petit programme de dessin
Comment[he]=תוכנית ציור
Comment[hu]=rajzolóprogram
Comment[is]=Málunarforrit
Comment[it]=Programma di disegno
Comment[ja]=ペイントプログラム
Comment[lt]=Piešimo programa
Comment[lv]=Krāsošanas Programma
Comment[mt]=Programm sempliċi tat-tpinġija
Comment[nb]=Male-program
Comment[nl]=tekenprogramma
Comment[nn]=Måleprogram
Comment[pl]=Program Paint
Comment[pt]=Programa de Pintura
Comment[pt_BR]=Programa de pintura
Comment[ro]=Un program de desenare
Comment[ru]=Графический редактор
Comment[sk]=Kreslenie
Comment[sl]=Slikarski program
Comment[sv]=Ritprogram
Comment[ta]=¾£üÚ ¿¢Ãø
Comment[th]=โปรแกรมวาดภาพธรรมดาๆ
Comment[tr]=Boyama Programı
Comment[uk]=Програма для малювання
Comment[ven]=Mbekanyamushumo ya Pennde
Comment[vi]=Chương trình vẽ
Comment[xh]=Udweliso lwenkqubo lwepeyinti
Comment[zh_CN]=绘图程序
Comment[zh_TW]=繪圖程式
Comment[zu]=Elila Iprogremu Kapende
Exec=xpaint
Icon=normal/Paint
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Graphics
TryExec=xpaint
