[Desktop Entry]
Name=Xtraceroute
GenericName=Network Tool
Comment=Network Tool
Name[af]=X-volg-roete
Name[eo]=Esploru kurson
Name[fr]=XTraceroute
Name[pl]=X Śledzenie trasy
Name[zu]=X umuladela-ndlela
GenericName[af]=Netwerk Program
GenericName[ar]=أداة الشبكة
GenericName[bg]=Инструменти за Мрежата
GenericName[bs]=Mrežni alat
GenericName[cs]=Síťový nástroj
GenericName[da]=Netværksværktøj
GenericName[de]=Netzwerk-Analyse
GenericName[el]=Εργαλείο Δικτύου
GenericName[eo]=Retanalizilo
GenericName[es]=Herramienta de redes
GenericName[et]=Võrguutiliit
GenericName[eu]=Sare Tresna
GenericName[fi]=Verkkotyökalu
GenericName[fr]=Analyseur réseau
GenericName[he]=כלי רשת
GenericName[hu]=hálózatanalizáló
GenericName[is]=Netleiðarakning (traceroute)
GenericName[it]=Strumento di rete
GenericName[ja]=ネットワークツール
GenericName[lt]=Tinklo priemonė
GenericName[lv]=Tīkla Rīks
GenericName[nb]=Nettverksverktøy
GenericName[nl]=netwerk-hulpprogramma
GenericName[nn]=Nettverksverktøy
GenericName[pl]=Analizator trasy pakietów
GenericName[pt]=Ferramenta de Redes
GenericName[pt_BR]=Ferramenta de rede
GenericName[ro]=Utilitar de reţea
GenericName[ru]=Анализатор маршрута
GenericName[sk]=Sieťový nástroj
GenericName[sl]=Mrežno orodje
GenericName[sv]=Nätverksverktyg
GenericName[ta]=Å¨Äì ¸ÕÅ¢
GenericName[th]=เครื่องมือระบบเครือข่าย
GenericName[tr]=Ağ Aracı
GenericName[uk]=Утиліта мережі
GenericName[ven]=Tshishumiswa tsha Vhudavhidzani
GenericName[vi]=Công cụ mạng
GenericName[xh]=Isixhobo seNetwork
GenericName[zh_CN]=网络工具
GenericName[zh_TW]=網路工具
GenericName[zu]=Ithuluzi Loxhumaniso olusakazekile
Comment[af]=Netwerk Program
Comment[ar]=أداة الشبكة
Comment[bg]=Инструменти за Мрежата
Comment[bs]=Mrežni alat
Comment[cs]=Síťový nástroj
Comment[da]=Netværksværktøj
Comment[de]=Netzwerk-Analyse
Comment[el]=Εργαλείο Δικτύου
Comment[eo]=Retanalizilo
Comment[es]=Herramienta de redes
Comment[et]=Võrguutiliit
Comment[eu]=Sare Tresna
Comment[fi]=Verkkotyökalu
Comment[fr]=Analyseur réseau
Comment[he]=כלי רשת
Comment[hu]=hálózatanalizáló
Comment[is]=Netleiðarakning (traceroute)
Comment[it]=Strumento di rete
Comment[ja]=ネットワークツール
Comment[lt]=Tinklo priemonė
Comment[lv]=Tīkla Rīks
Comment[nb]=Nettverksverktøy
Comment[nl]=netwerk-hulpprogramma
Comment[nn]=Nettverksverktøy
Comment[pl]=Analizator trasy pakietów
Comment[pt]=Ferramenta de Redes
Comment[pt_BR]=Ferramenta de rede
Comment[ro]=Utilitar de reţea
Comment[ru]=Анализатор маршрута
Comment[sk]=Sieťový nástroj
Comment[sl]=Mrežno orodje
Comment[sv]=Nätverksverktyg
Comment[ta]=Å¨Äì ¸ÕÅ¢
Comment[th]=เครื่องมือระบบเครือข่าย
Comment[tr]=Ağ Aracı
Comment[uk]=Утиліта мережі
Comment[ven]=Tshishumiswa tsha Vhudavhidzani
Comment[vi]=Công cụ mạng
Comment[xh]=Isixhobo seNetwork
Comment[zh_CN]=网络工具
Comment[zh_TW]=網路工具
Comment[zu]=Ithuluzi Loxhumaniso olusakazekile
Exec=xtraceroute
Icon=normal/Globe
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=xtraceroute
TryExec=xtraceroute

[Desktop Entry]
Name=FTP Shell
GenericName=FTP Client
Comment=Internet file transfer program
GenericName[af]=Ftp Kliënt
GenericName[ar]=عميل FTP
GenericName[be]=Кліент FTP
GenericName[bg]=FTP Клиент
GenericName[bs]=FTP klijent
GenericName[cs]=FTP klient
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP Bezeroa
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[he]=תוכנית FTP
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTPクライアント
GenericName[lt]=FTP klientas
GenericName[lv]=FTP Klients
GenericName[mt]=Klijent FTP
GenericName[nb]=FTP-klient
GenericName[nl]=FTP-cliënt
GenericName[nn]=FTP-klient
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Un client FTP
GenericName[ru]=Клиент FTP
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sv]=FTP-klient
GenericName[ta]=FTP ¸ÕÅ¢
GenericName[th]=ไคลเอนต์ FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[ven]=Mushumisani wa FTP
GenericName[vi]=Máy khách FTP
GenericName[xh]=Umxhasi we FTP
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
GenericName[zu]=Umthengi we FTP
Comment[af]=Ftp Kliënt
Comment[ar]=عميل FTP
Comment[be]=Кліент FTP
Comment[bg]=FTP Клиент
Comment[bs]=FTP klijent
Comment[cs]=FTP klient
Comment[da]=FTP-klient
Comment[de]=FTP-Programm
Comment[el]=Πελάτης FTP
Comment[eo]=FTP-kliento
Comment[es]=Cliente FTP
Comment[et]=FTP klient
Comment[eu]=FTP Bezeroa
Comment[fi]=FTP-asiakasohjelma
Comment[fr]=Un client FTP
Comment[he]=תוכנית FTP
Comment[hu]=FTP-kliens
Comment[is]=FTP forrit
Comment[it]=Client FTP
Comment[ja]=FTPクライアント
Comment[lt]=FTP klientas
Comment[lv]=FTP Klients
Comment[mt]=Klijent FTP
Comment[nb]=FTP-klient
Comment[nl]=FTP-cliënt
Comment[nn]=FTP-klient
Comment[pl]=Klient FTP
Comment[pt]=Cliente de FTP
Comment[pt_BR]=Cliente FTP
Comment[ro]=Un client FTP
Comment[ru]=Клиент FTP
Comment[sk]=FTP klient
Comment[sl]=Odjemnik za FTP
Comment[sv]=FTP-klient
Comment[ta]=FTP ¸ÕÅ¢
Comment[th]=ไคลเอนต์ FTP
Comment[tr]=FTP İstemcisi
Comment[uk]=Клієнт FTP
Comment[ven]=Mushumisani wa FTP
Comment[vi]=Máy khách FTP
Comment[xh]=Umxhasi we FTP
Comment[zh_CN]=FTP 客户端程序
Comment[zh_TW]=FTP 客戶端程式
Comment[zu]=Umthengi we FTP
Exec=ftp
Icon=normal/FTPEarth
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=ftp
TryExec=ftp

[Desktop Entry]
Name=NcFTP
GenericName=FTP Client
Comment=FTP Client
Name[af]=Ncftp
Name[eo]=NcFtp
Name[hu]=ncFTP
Name[id]=Nc FTP
GenericName[af]=Ftp Kliënt
GenericName[ar]=عميل FTP
GenericName[be]=Кліент FTP
GenericName[bg]=FTP Клиент
GenericName[bs]=FTP klijent
GenericName[cs]=FTP klient
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP Bezeroa
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[he]=תוכנית FTP
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTPクライアント
GenericName[lt]=FTP klientas
GenericName[lv]=FTP Klients
GenericName[mt]=Klijent FTP
GenericName[nb]=FTP-klient
GenericName[nl]=FTP-cliënt
GenericName[nn]=FTP-klient
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Un client FTP
GenericName[ru]=Клиент FTP
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sv]=FTP-klient
GenericName[ta]=FTP ¸ÕÅ¢
GenericName[th]=ไคลเอนต์ FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[ven]=Mushumisani wa FTP
GenericName[vi]=Máy khách FTP
GenericName[xh]=Umxhasi we FTP
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
GenericName[zu]=Umthengi we FTP
Comment[af]=Ftp Kliënt
Comment[ar]=عميل FTP
Comment[be]=Кліент FTP
Comment[bg]=FTP Клиент
Comment[bs]=FTP klijent
Comment[cs]=FTP klient
Comment[da]=FTP-klient
Comment[de]=FTP-Programm
Comment[el]=Πελάτης FTP
Comment[eo]=FTP-kliento
Comment[es]=Cliente FTP
Comment[et]=FTP klient
Comment[eu]=FTP Bezeroa
Comment[fi]=FTP-asiakasohjelma
Comment[fr]=Un client FTP
Comment[he]=תוכנית FTP
Comment[hu]=FTP-kliens
Comment[is]=FTP forrit
Comment[it]=Client FTP
Comment[ja]=FTPクライアント
Comment[lt]=FTP klientas
Comment[lv]=FTP Klients
Comment[mt]=Klijent FTP
Comment[nb]=FTP-klient
Comment[nl]=FTP-cliënt
Comment[nn]=FTP-klient
Comment[pl]=Klient FTP
Comment[pt]=Cliente de FTP
Comment[pt_BR]=Cliente FTP
Comment[ro]=Un client FTP
Comment[ru]=Клиент FTP
Comment[sk]=FTP klient
Comment[sl]=Odjemnik za FTP
Comment[sv]=FTP-klient
Comment[ta]=FTP ¸ÕÅ¢
Comment[th]=ไคลเอนต์ FTP
Comment[tr]=FTP İstemcisi
Comment[uk]=Клієнт FTP
Comment[ven]=Mushumisani wa FTP
Comment[vi]=Máy khách FTP
Comment[xh]=Umxhasi we FTP
Comment[zh_CN]=FTP 客户端程序
Comment[zh_TW]=FTP 客戶端程式
Comment[zu]=Umthengi we FTP
Exec=ncftp
Icon=normal/FTPEarth
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=ncftp
TryExec=ncftp

[Desktop Entry]
Name=Lftp
GenericName=FTP Client
Comment=FTP Client
Name[eo]=L-FTP
Name[fr]=LFTP
GenericName[af]=Ftp Kliënt
GenericName[ar]=عميل FTP
GenericName[be]=Кліент FTP
GenericName[bg]=FTP Клиент
GenericName[bs]=FTP klijent
GenericName[cs]=FTP klient
GenericName[da]=FTP-klient
GenericName[de]=FTP-Programm
GenericName[el]=Πελάτης FTP
GenericName[eo]=FTP-kliento
GenericName[es]=Cliente FTP
GenericName[et]=FTP klient
GenericName[eu]=FTP Bezeroa
GenericName[fi]=FTP-asiakasohjelma
GenericName[fr]=Un client FTP
GenericName[he]=תוכנית FTP
GenericName[hu]=FTP-kliens
GenericName[is]=FTP forrit
GenericName[it]=Client FTP
GenericName[ja]=FTPクライアント
GenericName[lt]=FTP klientas
GenericName[lv]=FTP Klients
GenericName[mt]=Klijent FTP
GenericName[nb]=FTP-klient
GenericName[nl]=FTP-cliënt
GenericName[nn]=FTP-klient
GenericName[pl]=Klient FTP
GenericName[pt]=Cliente de FTP
GenericName[pt_BR]=Cliente FTP
GenericName[ro]=Un client FTP
GenericName[ru]=Клиент FTP
GenericName[sk]=FTP klient
GenericName[sl]=Odjemnik za FTP
GenericName[sv]=FTP-klient
GenericName[ta]=FTP ¸ÕÅ¢
GenericName[th]=ไคลเอนต์ FTP
GenericName[tr]=FTP İstemcisi
GenericName[uk]=Клієнт FTP
GenericName[ven]=Mushumisani wa FTP
GenericName[vi]=Máy khách FTP
GenericName[xh]=Umxhasi we FTP
GenericName[zh_CN]=FTP 客户端程序
GenericName[zh_TW]=FTP 客戶端程式
GenericName[zu]=Umthengi we FTP
Comment[af]=Ftp Kliënt
Comment[ar]=عميل FTP
Comment[be]=Кліент FTP
Comment[bg]=FTP Клиент
Comment[bs]=FTP klijent
Comment[cs]=FTP klient
Comment[da]=FTP-klient
Comment[de]=FTP-Programm
Comment[el]=Πελάτης FTP
Comment[eo]=FTP-kliento
Comment[es]=Cliente FTP
Comment[et]=FTP klient
Comment[eu]=FTP Bezeroa
Comment[fi]=FTP-asiakasohjelma
Comment[fr]=Un client FTP
Comment[he]=תוכנית FTP
Comment[hu]=FTP-kliens
Comment[is]=FTP forrit
Comment[it]=Client FTP
Comment[ja]=FTPクライアント
Comment[lt]=FTP klientas
Comment[lv]=FTP Klients
Comment[mt]=Klijent FTP
Comment[nb]=FTP-klient
Comment[nl]=FTP-cliënt
Comment[nn]=FTP-klient
Comment[pl]=Klient FTP
Comment[pt]=Cliente de FTP
Comment[pt_BR]=Cliente FTP
Comment[ro]=Un client FTP
Comment[ru]=Клиент FTP
Comment[sk]=FTP klient
Comment[sl]=Odjemnik za FTP
Comment[sv]=FTP-klient
Comment[ta]=FTP ¸ÕÅ¢
Comment[th]=ไคลเอนต์ FTP
Comment[tr]=FTP İstemcisi
Comment[uk]=Клієнт FTP
Comment[ven]=Mushumisani wa FTP
Comment[vi]=Máy khách FTP
Comment[xh]=Umxhasi we FTP
Comment[zh_CN]=FTP 客户端程序
Comment[zh_TW]=FTP 客戶端程式
Comment[zu]=Umthengi we FTP
Exec=lftp %u
Icon=normal/FTPEarth
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=lftp
TryExec=lftp

[Desktop Entry]
Name=Lynx Text-Based Web Browser
GenericName=Web Browser
Comment=Web Browser
Name[eo]=Linko
GenericName[af]=Web Blaaier
GenericName[ar]=متصفح ويب
GenericName[bg]=Web Броузер
GenericName[bs]=WWW Preglednik
GenericName[cs]=WWW prohlížeč
GenericName[da]=Netsøger
GenericName[de]=Web-Browser
GenericName[el]=Φυλλομετρητής Ιστοσελίδων
GenericName[eo]=TTT-legilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web Arakatzailea
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur web
GenericName[he]=דפדפן אינטרנט
GenericName[hu]=webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[lt]=Web naršyklė
GenericName[lv]=Web Pārlūks
GenericName[nb]=vevleser
GenericName[nl]=webbrowser
GenericName[nn]=Nettlesar
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador
GenericName[ro]=Navigator de web
GenericName[ru]=Веб-обозреватель
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[ta]=Å¨Ä ¯Ä¡Å¢
GenericName[th]=เวบบราวเซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач Тенет
GenericName[ven]=Buronza ya Webu
GenericName[vi]=Trình duyệt Web
GenericName[xh]=Umkhangeli Zincwadi
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
GenericName[zu]=Umbhekisisi wamaphepha e Web
Comment[af]=Web Blaaier
Comment[ar]=متصفح ويب
Comment[bg]=Web Броузер
Comment[bs]=WWW Preglednik
Comment[cs]=WWW prohlížeč
Comment[da]=Netsøger
Comment[de]=Web-Browser
Comment[el]=Φυλλομετρητής Ιστοσελίδων
Comment[eo]=TTT-legilo
Comment[es]=Navegador web
Comment[et]=Veebibrauser
Comment[eu]=Web Arakatzailea
Comment[fi]=WWW-selain
Comment[fr]=Navigateur web
Comment[he]=דפדפן אינטרנט
Comment[hu]=webböngésző
Comment[is]=Vafri
Comment[it]=Browser Web
Comment[ja]=ウェブブラウザ
Comment[lt]=Web naršyklė
Comment[lv]=Web Pārlūks
Comment[nb]=vevleser
Comment[nl]=webbrowser
Comment[nn]=Nettlesar
Comment[pl]=Przeglądarka WWW
Comment[pt]=Navegador Web
Comment[pt_BR]=Navegador
Comment[ro]=Navigator de web
Comment[ru]=Веб-обозреватель
Comment[sk]=Webový prehliadač
Comment[sl]=Spletni brskalnik
Comment[sv]=Webbläsare
Comment[ta]=Å¨Ä ¯Ä¡Å¢
Comment[th]=เวบบราวเซอร์
Comment[tr]=Web Tarayıcı
Comment[uk]=Переглядач Тенет
Comment[ven]=Buronza ya Webu
Comment[vi]=Trình duyệt Web
Comment[xh]=Umkhangeli Zincwadi
Comment[zh_CN]=网页浏览器
Comment[zh_TW]=網頁瀏覽器
Comment[zu]=Umbhekisisi wamaphepha e Web
Exec=lynx
Icon=normal/WWW
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=lynx
TryExec=lynx

[Desktop Entry]
Name=Links Text-Based Web Browser
GenericName=Web Browser
Comment=Web Browser
Name[af]=Skakel
Name[az]=Körpülər
Name[bg]=Линкове
Name[da]=Link
Name[eo]=Ligoj
Name[eu]=Loturak
Name[lv]=Saites
Name[nb]=Linker
Name[ven]=Vhukwamani
Name[vi]=Liên kết
Name[xh]=Amakhonkco
Name[zu]=Izixhumanisi
GenericName[af]=Web Blaaier
GenericName[ar]=متصفح ويب
GenericName[bg]=Web Броузер
GenericName[bs]=WWW Preglednik
GenericName[cs]=WWW prohlížeč
GenericName[da]=Netsøger
GenericName[de]=Web-Browser
GenericName[el]=Φυλλομετρητής Ιστοσελίδων
GenericName[eo]=TTT-legilo
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[eu]=Web Arakatzailea
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur web
GenericName[he]=דפדפן אינטרנט
GenericName[hu]=webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[lt]=Web naršyklė
GenericName[lv]=Web Pārlūks
GenericName[nb]=vevleser
GenericName[nl]=webbrowser
GenericName[nn]=Nettlesar
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador
GenericName[ro]=Navigator de web
GenericName[ru]=Веб-обозреватель
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[ta]=Å¨Ä ¯Ä¡Å¢
GenericName[th]=เวบบราวเซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач Тенет
GenericName[ven]=Buronza ya Webu
GenericName[vi]=Trình duyệt Web
GenericName[xh]=Umkhangeli Zincwadi
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
GenericName[zu]=Umbhekisisi wamaphepha e Web
Comment[af]=Web Blaaier
Comment[ar]=متصفح ويب
Comment[bg]=Web Броузер
Comment[bs]=WWW Preglednik
Comment[cs]=WWW prohlížeč
Comment[da]=Netsøger
Comment[de]=Web-Browser
Comment[el]=Φυλλομετρητής Ιστοσελίδων
Comment[eo]=TTT-legilo
Comment[es]=Navegador web
Comment[et]=Veebibrauser
Comment[eu]=Web Arakatzailea
Comment[fi]=WWW-selain
Comment[fr]=Navigateur web
Comment[he]=דפדפן אינטרנט
Comment[hu]=webböngésző
Comment[is]=Vafri
Comment[it]=Browser Web
Comment[ja]=ウェブブラウザ
Comment[lt]=Web naršyklė
Comment[lv]=Web Pārlūks
Comment[nb]=vevleser
Comment[nl]=webbrowser
Comment[nn]=Nettlesar
Comment[pl]=Przeglądarka WWW
Comment[pt]=Navegador Web
Comment[pt_BR]=Navegador
Comment[ro]=Navigator de web
Comment[ru]=Веб-обозреватель
Comment[sk]=Webový prehliadač
Comment[sl]=Spletni brskalnik
Comment[sv]=Webbläsare
Comment[ta]=Å¨Ä ¯Ä¡Å¢
Comment[th]=เวบบราวเซอร์
Comment[tr]=Web Tarayıcı
Comment[uk]=Переглядач Тенет
Comment[ven]=Buronza ya Webu
Comment[vi]=Trình duyệt Web
Comment[xh]=Umkhangeli Zincwadi
Comment[zh_CN]=网页浏览器
Comment[zh_TW]=網頁瀏覽器
Comment[zu]=Umbhekisisi wamaphepha e Web
Exec=links
Icon=normal/WWW
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=links
TryExec=links

[Desktop Entry]
Name=Mutt E-Mail Client
GenericName=Mail Client
Comment=Mail Client
Name[bg]=Математика 
Name[eo]=Retpoŝtilo Mutt
Name[ko]=멋
GenericName[af]=Pos Kliënt
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[br]=Arval postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Programari de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[da]=Program til at læse og sende e-mail
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης Mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=Meiliklient
GenericName[eu]=Posta Bezeroa
GenericName[fi]=Ohjelma sähköpostien lukemiseen
GenericName[fr]=Logiciel de messagerie électronique
GenericName[gl]=Cliente de correo
GenericName[he]=תוכנית דואר
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hu]=levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=kmail:  Póstforrit KDE
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за е-пошта
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=Program for å lese og sende e-post
GenericName[nl]=e-mailcliënt
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Programari de correu electrònic
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de Email
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Почтовый клиент
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Program za e-poštu
GenericName[sv]=E-postklient
GenericName[ta]=«ïºü ¸ÕÅ¢
GenericName[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[ven]=Mushumisani na poso
GenericName[vi]=Máy khách Thư tín
GenericName[xh]=Umxhasi Weposi
GenericName[zh_CN]=邮件程序
GenericName[zh_TW]=郵件處理程式
GenericName[zu]=Imeyili Yomthengi
Comment[af]=Pos Kliënt
Comment[ar]=البريد الألكتروني
Comment[az]=Poçt Alıcısı
Comment[be]=Паштовы кліент
Comment[bg]=Пощенски клиент
Comment[br]=Arval postel
Comment[bs]=Program za čitanje elektronske pošte
Comment[ca]=Programari de correu electrònic
Comment[cs]=Klient pro čtení elektronické pošty
Comment[da]=Program til at læse og sende e-mail
Comment[de]=E-Mail-Programm
Comment[el]=Πελάτης Mail
Comment[eo]=Legi kaj sendi retpoŝton
Comment[es]=Cliente de correo electrónico
Comment[et]=Meiliklient
Comment[eu]=Posta Bezeroa
Comment[fi]=Ohjelma sähköpostien lukemiseen
Comment[fr]=Logiciel de messagerie électronique
Comment[gl]=Cliente de correo
Comment[he]=תוכנית דואר
Comment[hr]=Program za čitanje elektronske pošte
Comment[hu]=levelezőprogram
Comment[id]=Klien Mail
Comment[is]=kmail:  Póstforrit KDE
Comment[it]=Programma di posta elettronica
Comment[ja]=メールクライアント
Comment[ko]=편지를 주고 받는 프로그램
Comment[lt]=Pašto klientas
Comment[lv]=Pasta Klients
Comment[mk]=Програма за е-пошта
Comment[mt]=Klijent tal-imejl
Comment[nb]=Program for å lese og sende e-post
Comment[nl]=e-mailcliënt
Comment[nn]=Lesing og sending av e-post
Comment[oc]=Programari de correu electrònic
Comment[pl]=Program do wysyłania i odbierania poczty elektronicznej
Comment[pt]=Cliente de Email
Comment[pt_BR]=Cliente de E-mail
Comment[ro]=Program de poştă electronică
Comment[ru]=Почтовый клиент
Comment[sk]=Klient elektronickej pošty
Comment[sl]=Program za e-pošto
Comment[sr]=Program za e-poštu
Comment[sv]=E-postklient
Comment[ta]=«ïºü ¸ÕÅ¢
Comment[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
Comment[tr]=Posta İstemcisi
Comment[uk]=Клієнт електронної пошти
Comment[ven]=Mushumisani na poso
Comment[vi]=Máy khách Thư tín
Comment[xh]=Umxhasi Weposi
Comment[zh_CN]=邮件程序
Comment[zh_TW]=郵件處理程式
Comment[zu]=Imeyili Yomthengi
Exec=mutt -y
Icon=normal/MailBox2
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=mutt
TryExec=mutt

[Desktop Entry]
Name=Pine E-Mail Client
GenericName=Mail Client
Comment=Program for Internet News and Email
Name[eo]=Pino
Name[es]=PINE
Name[ko]=파인
Name[ven]=Dzangalelo
Name[xh]=Uphelelwe ngamandla/iPayina
Name[zu]=Upayina
GenericName[af]=Pos Kliënt
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[br]=Arval postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Programari de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[da]=Program til at læse og sende e-mail
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης Mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=Meiliklient
GenericName[eu]=Posta Bezeroa
GenericName[fi]=Ohjelma sähköpostien lukemiseen
GenericName[fr]=Logiciel de messagerie électronique
GenericName[gl]=Cliente de correo
GenericName[he]=תוכנית דואר
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hu]=levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=kmail:  Póstforrit KDE
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за е-пошта
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=Program for å lese og sende e-post
GenericName[nl]=e-mailcliënt
GenericName[nn]=Lesing og sending av e-post
GenericName[oc]=Programari de correu electrònic
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Cliente de Email
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Почтовый клиент
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Program za e-poštu
GenericName[sv]=E-postklient
GenericName[ta]=«ïºü ¸ÕÅ¢
GenericName[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[ven]=Mushumisani na poso
GenericName[vi]=Máy khách Thư tín
GenericName[xh]=Umxhasi Weposi
GenericName[zh_CN]=邮件程序
GenericName[zh_TW]=郵件處理程式
GenericName[zu]=Imeyili Yomthengi
Comment[af]=Pos Kliënt
Comment[ar]=البريد الألكتروني
Comment[az]=Poçt Alıcısı
Comment[be]=Паштовы кліент
Comment[bg]=Пощенски клиент
Comment[br]=Arval postel
Comment[bs]=Program za čitanje elektronske pošte
Comment[ca]=Programari de correu electrònic
Comment[cs]=Klient pro čtení elektronické pošty
Comment[da]=Program til at læse og sende e-mail
Comment[de]=E-Mail-Programm
Comment[el]=Πελάτης Mail
Comment[eo]=Legi kaj sendi retpoŝton
Comment[es]=Cliente de correo electrónico
Comment[et]=Meiliklient
Comment[eu]=Posta Bezeroa
Comment[fi]=Ohjelma sähköpostien lukemiseen
Comment[fr]=Logiciel de messagerie électronique
Comment[gl]=Cliente de correo
Comment[he]=תוכנית דואר
Comment[hr]=Program za čitanje elektronske pošte
Comment[hu]=levelezőprogram
Comment[id]=Klien Mail
Comment[is]=kmail:  Póstforrit KDE
Comment[it]=Programma di posta elettronica
Comment[ja]=メールクライアント
Comment[ko]=편지를 주고 받는 프로그램
Comment[lt]=Pašto klientas
Comment[lv]=Pasta Klients
Comment[mk]=Програма за е-пошта
Comment[mt]=Klijent tal-imejl
Comment[nb]=Program for å lese og sende e-post
Comment[nl]=e-mailcliënt
Comment[nn]=Lesing og sending av e-post
Comment[oc]=Programari de correu electrònic
Comment[pl]=Program do wysyłania i odbierania poczty elektronicznej
Comment[pt]=Cliente de Email
Comment[pt_BR]=Cliente de E-mail
Comment[ro]=Program de poştă electronică
Comment[ru]=Почтовый клиент
Comment[sk]=Klient elektronickej pošty
Comment[sl]=Program za e-pošto
Comment[sr]=Program za e-poštu
Comment[sv]=E-postklient
Comment[ta]=«ïºü ¸ÕÅ¢
Comment[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
Comment[tr]=Posta İstemcisi
Comment[uk]=Клієнт електронної пошти
Comment[ven]=Mushumisani na poso
Comment[vi]=Máy khách Thư tín
Comment[xh]=Umxhasi Weposi
Comment[zh_CN]=邮件程序
Comment[zh_TW]=郵件處理程式
Comment[zu]=Imeyili Yomthengi
Exec=pine
Icon=normal/MailBox2
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=pine
TryExec=pine

[Desktop Entry]
Name=BitchX IRC Client
GenericName=IRC Client
Comment=Advanced Internet Relay Chat client
Exec=BitchX
Icon=normal/IRC_Transp
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=BitchX
TryExec=BitchX

[Desktop Entry]
Name=Tin News Reader
GenericName=News Reader
Comment=Full-screen easy to use Netnews reader
Exec=tin
Icon=normal/Newspaper
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=tin
TryExec=tin

[Desktop Entry]
Name=nn News Reader
GenericName=News Reader
Comment=Efficient net news interface (No News is good news)
Exec=nn
Icon=normal/Newspaper
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=nn
TryExec=nn

[Desktop Entry]
Name=slrn News Reader
GenericName=News Reader
Comment=slrn (s-lang read news) accesses Usenet messages
Exec=slrn
Icon=normal/Newspaper
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=slrn
TryExec=slrn

[Desktop Entry]
Name=Telnet Shell
GenericName=Telnet Shell
Comment=User interface to the TELNET protocol
Exec=telnet
Icon=normal/Monitor1
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Network
X-AfterStep-IndexName=telnet
TryExec=telnet
