[Desktop Entry]
Name=GV PostScript & PDF Viewer 
GenericName=Postscript Viewer
Comment=PostScript and PDF previewer
Name[af]=Gv
Name[fr]=Gv
Name[ko]=고스트 스크립트 보기(GV)
GenericName[af]=Postscript Aansig
GenericName[ar]=عارض بوست سكريبت
GenericName[az]=Postscript Nümayişçisi
GenericName[bg]=Преглед на Postscript документи
GenericName[br]=Gweler Postscript
GenericName[bs]=Preglednik PostScript dokumenata
GenericName[ca]=Visor de Postscript
GenericName[cs]=Prohlížeč Postscriptových souborů
GenericName[da]=PostScript-dokumentfremviser
GenericName[de]=PostScript-Betrachter
GenericName[el]=Προβολή Postscript
GenericName[eo]=Rigardilo por Postskripto
GenericName[es]=Visor de documentos PostScript
GenericName[et]=Postscript failide vaatamine
GenericName[eu]=Postscript Ikusgailua
GenericName[fi]=Postscript-näyttäjä
GenericName[fr]=Afficheur PostScript
GenericName[gl]=Visualizador de Postscript
GenericName[he]=מציג Postscript
GenericName[hr]=Preglednik PostScript dokumenata
GenericName[hu]=PostScript dokumentumnéző
GenericName[id]=Viewer Postscript
GenericName[is]=Postscript-sjá
GenericName[it]=Visualizzatore Postscript
GenericName[ja]=Postscriptビューア
GenericName[ko]=포스트스크립트 보기
GenericName[lt]=Postscript žiūriklis
GenericName[lv]=Postscript Skatītājs
GenericName[mk]=Прикажувач на PostScript
GenericName[mt]=Werrej ta' dokumenti Postscript
GenericName[nb]=Postscript-fremviser
GenericName[nl]=PostScript-weergaveprogramma
GenericName[nn]=Postscript-lesar
GenericName[oc]=Visualisor de Postscript
GenericName[pl]=Przeglądarka plików Postscriptu
GenericName[pt]=Visualizador de PostScripts
GenericName[pt_BR]=Visualizador de arquivos Postscript
GenericName[ro]=Vizualizor de documente PostScript
GenericName[ru]=Программа просмотра GhostScript
GenericName[sk]=Prehliadač Postskriptových súborov
GenericName[sl]=Pregledovalnik za PostScript
GenericName[sr]=Prikazivač Postscript dokumenata
GenericName[sv]=Postskript-visare
GenericName[ta]=Postscript ¸¡ðÊ
GenericName[th]=เครื่องมือดูแฟ้มโพสต์สคริปต์
GenericName[tr]=Postscript Görüntüleyici
GenericName[uk]=Переглядач PostScript
GenericName[ven]=Muvhoni wa Mabambiri asathu bvaho
GenericName[vi]=Trình xem file .ps
GenericName[xh]=Umboniseli Wokubhaliweyo Okuposwayo
GenericName[zh_CN]=Postscript 查看器
GenericName[zh_TW]=Postscript 檢視器
GenericName[zu]=Umboniseli Wokubhaliweyo Okudluliswayo
Comment[af]=Postscript Aansig
Comment[ar]=عارض بوست سكريبت
Comment[az]=Postscript Nümayişçisi
Comment[bg]=Преглед на Postscript документи
Comment[br]=Gweler Postscript
Comment[bs]=Preglednik PostScript dokumenata
Comment[ca]=Visor de Postscript
Comment[cs]=Prohlížeč Postscriptových souborů
Comment[da]=PostScript-dokumentfremviser
Comment[de]=PostScript-Betrachter
Comment[el]=Προβολή Postscript
Comment[eo]=Rigardilo por Postskripto
Comment[es]=Visor de documentos PostScript
Comment[et]=Postscript failide vaatamine
Comment[eu]=Postscript Ikusgailua
Comment[fi]=Postscript-näyttäjä
Comment[fr]=Afficheur PostScript
Comment[gl]=Visualizador de Postscript
Comment[he]=מציג Postscript
Comment[hr]=Preglednik PostScript dokumenata
Comment[hu]=PostScript dokumentumnéző
Comment[id]=Viewer Postscript
Comment[is]=Postscript-sjá
Comment[it]=Visualizzatore Postscript
Comment[ja]=Postscriptビューア
Comment[ko]=포스트스크립트 보기
Comment[lt]=Postscript žiūriklis
Comment[lv]=Postscript Skatītājs
Comment[mk]=Прикажувач на PostScript
Comment[mt]=Werrej ta' dokumenti Postscript
Comment[nb]=Postscript-fremviser
Comment[nl]=PostScript-weergaveprogramma
Comment[nn]=Postscript-lesar
Comment[oc]=Visualisor de Postscript
Comment[pl]=Przeglądarka plików Postscriptu
Comment[pt]=Visualizador de PostScripts
Comment[pt_BR]=Visualizador de arquivos Postscript
Comment[ro]=Vizualizor de documente PostScript
Comment[ru]=Программа просмотра GhostScript
Comment[sk]=Prehliadač Postskriptových súborov
Comment[sl]=Pregledovalnik za PostScript
Comment[sr]=Prikazivač Postscript dokumenata
Comment[sv]=Postskript-visare
Comment[ta]=Postscript ¸¡ðÊ
Comment[th]=เครื่องมือดูแฟ้มโพสต์สคริปต์
Comment[tr]=Postscript Görüntüleyici
Comment[uk]=Переглядач PostScript
Comment[ven]=Muvhoni wa Mabambiri asathu bvaho
Comment[vi]=Trình xem file .ps
Comment[xh]=Umboniseli Wokubhaliweyo Okuposwayo
Comment[zh_CN]=Postscript 查看器
Comment[zh_TW]=Postscript 檢視器
Comment[zu]=Umboniseli Wokubhaliweyo Okudluliswayo
Exec=gv
Icon=normal/Ghost2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Office
TryExec=gv

[Desktop Entry]
Name=GhostView
GenericName=Postscript Viewer
Comment=Postscript Viewer
Name[af]=Ghostview
Name[cs]=Ghostview
Name[da]=Ghostview
Name[eo]=Postskriptrigardilo
Name[hu]=Ghostview
Name[ko]=고스트뷰
Name[sv]=Ghostview
Name[ven]=Mbonalelo ya Tshipuku
Name[xh]=Imboniselo yesiPorho
GenericName[af]=Postscript Aansig
GenericName[ar]=عارض بوست سكريبت
GenericName[az]=Postscript Nümayişçisi
GenericName[bg]=Преглед на Postscript документи
GenericName[br]=Gweler Postscript
GenericName[bs]=Preglednik PostScript dokumenata
GenericName[ca]=Visor de Postscript
GenericName[cs]=Prohlížeč Postscriptových souborů
GenericName[da]=PostScript-dokumentfremviser
GenericName[de]=PostScript-Betrachter
GenericName[el]=Προβολή Postscript
GenericName[eo]=Rigardilo por Postskripto
GenericName[es]=Visor de documentos PostScript
GenericName[et]=Postscript failide vaatamine
GenericName[eu]=Postscript Ikusgailua
GenericName[fi]=Postscript-näyttäjä
GenericName[fr]=Afficheur PostScript
GenericName[gl]=Visualizador de Postscript
GenericName[he]=מציג Postscript
GenericName[hr]=Preglednik PostScript dokumenata
GenericName[hu]=PostScript dokumentumnéző
GenericName[id]=Viewer Postscript
GenericName[is]=Postscript-sjá
GenericName[it]=Visualizzatore Postscript
GenericName[ja]=Postscriptビューア
GenericName[ko]=포스트스크립트 보기
GenericName[lt]=Postscript žiūriklis
GenericName[lv]=Postscript Skatītājs
GenericName[mk]=Прикажувач на PostScript
GenericName[mt]=Werrej ta' dokumenti Postscript
GenericName[nb]=Postscript-fremviser
GenericName[nl]=PostScript-weergaveprogramma
GenericName[nn]=Postscript-lesar
GenericName[oc]=Visualisor de Postscript
GenericName[pl]=Przeglądarka plików Postscriptu
GenericName[pt]=Visualizador de PostScripts
GenericName[pt_BR]=Visualizador de arquivos Postscript
GenericName[ro]=Vizualizor de documente PostScript
GenericName[ru]=Программа просмотра GhostScript
GenericName[sk]=Prehliadač Postskriptových súborov
GenericName[sl]=Pregledovalnik za PostScript
GenericName[sr]=Prikazivač Postscript dokumenata
GenericName[sv]=Postskript-visare
GenericName[ta]=Postscript ¸¡ðÊ
GenericName[th]=เครื่องมือดูแฟ้มโพสต์สคริปต์
GenericName[tr]=Postscript Görüntüleyici
GenericName[uk]=Переглядач PostScript
GenericName[ven]=Muvhoni wa Mabambiri asathu bvaho
GenericName[vi]=Trình xem file .ps
GenericName[xh]=Umboniseli Wokubhaliweyo Okuposwayo
GenericName[zh_CN]=Postscript 查看器
GenericName[zh_TW]=Postscript 檢視器
GenericName[zu]=Umboniseli Wokubhaliweyo Okudluliswayo
Comment[af]=Postscript Aansig
Comment[ar]=عارض بوست سكريبت
Comment[az]=Postscript Nümayişçisi
Comment[bg]=Преглед на Postscript документи
Comment[br]=Gweler Postscript
Comment[bs]=Preglednik PostScript dokumenata
Comment[ca]=Visor de Postscript
Comment[cs]=Prohlížeč Postscriptových souborů
Comment[da]=PostScript-dokumentfremviser
Comment[de]=PostScript-Betrachter
Comment[el]=Προβολή Postscript
Comment[eo]=Rigardilo por Postskripto
Comment[es]=Visor de documentos PostScript
Comment[et]=Postscript failide vaatamine
Comment[eu]=Postscript Ikusgailua
Comment[fi]=Postscript-näyttäjä
Comment[fr]=Afficheur PostScript
Comment[gl]=Visualizador de Postscript
Comment[he]=מציג Postscript
Comment[hr]=Preglednik PostScript dokumenata
Comment[hu]=PostScript dokumentumnéző
Comment[id]=Viewer Postscript
Comment[is]=Postscript-sjá
Comment[it]=Visualizzatore Postscript
Comment[ja]=Postscriptビューア
Comment[ko]=포스트스크립트 보기
Comment[lt]=Postscript žiūriklis
Comment[lv]=Postscript Skatītājs
Comment[mk]=Прикажувач на PostScript
Comment[mt]=Werrej ta' dokumenti Postscript
Comment[nb]=Postscript-fremviser
Comment[nl]=PostScript-weergaveprogramma
Comment[nn]=Postscript-lesar
Comment[oc]=Visualisor de Postscript
Comment[pl]=Przeglądarka plików Postscriptu
Comment[pt]=Visualizador de PostScripts
Comment[pt_BR]=Visualizador de arquivos Postscript
Comment[ro]=Vizualizor de documente PostScript
Comment[ru]=Программа просмотра GhostScript
Comment[sk]=Prehliadač Postskriptových súborov
Comment[sl]=Pregledovalnik za PostScript
Comment[sr]=Prikazivač Postscript dokumenata
Comment[sv]=Postskript-visare
Comment[ta]=Postscript ¸¡ðÊ
Comment[th]=เครื่องมือดูแฟ้มโพสต์สคริปต์
Comment[tr]=Postscript Görüntüleyici
Comment[uk]=Переглядач PostScript
Comment[ven]=Muvhoni wa Mabambiri asathu bvaho
Comment[vi]=Trình xem file .ps
Comment[xh]=Umboniseli Wokubhaliweyo Okuposwayo
Comment[zh_CN]=Postscript 查看器
Comment[zh_TW]=Postscript 檢視器
Comment[zu]=Umboniseli Wokubhaliweyo Okudluliswayo
Exec=ghostview
Icon=normal/Ghost2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Office
TryExec=ghostview

