[Desktop Entry]
Name=Procinfo
GenericName=System Process Information
Comment=System Process Information
Name[bg]=Процесор
Name[eo]=Procezoinformo
Name[eu]=Prozesagailua
Name[ko]=프로세서 정보
Name[pl]=Informacje o procesach
Name[pt_BR]=Informações do Processador
Name[ru]=Процессы
Name[sl]=Podatki o procesih
Name[th]=ข้อมูลโปรเซส
GenericName[af]=Stelsel Proses Informasie
GenericName[ar]=معلومات عمليات النظام
GenericName[bg]=Информация за системните процеси
GenericName[bs]=Informacije o sistemskim procesima
GenericName[cs]=Informace o systémových procesech
GenericName[da]=Systemprocesinformation
GenericName[de]=Infos zu laufenden Programmen
GenericName[el]=Πληροφορίες για τις Διεργασίες του Συστήματος
GenericName[eo]=Informo pri procezoj
GenericName[es]=Información sobre procesos del sistema
GenericName[et]=Süsteemi protsesside info
GenericName[eu]=Sistemaren Prozesei buruzko Informazioa
GenericName[fi]=Järjestelmän prosessien tietoja
GenericName[fr]=Informations sur les processus du système
GenericName[he]=מידע לגבי תהליכים של המערכת
GenericName[hu]=információ a rendszerfolyamatokról
GenericName[is]=Upplýsingar um kerfisferli
GenericName[it]=Informazioni sui processi di sistema
GenericName[ja]=システムプロセス情報
GenericName[lt]=Sistemos procesų informacija
GenericName[lv]=Sistēmas Procesu Informācija
GenericName[nb]=Informasjon om systemprosesser
GenericName[nl]=informatie over systeemprocessen
GenericName[nn]=Informasjon om systemprosessar
GenericName[pl]=Informacje o systemie
GenericName[pt]=Informações dos Processos do Sistema
GenericName[pt_BR]=Informações sobre processos do sistema
GenericName[ro]=Afişează informaţii despre procesele sistemului
GenericName[ru]=Сведения о системных процессах
GenericName[sk]=Informácie o procesoch
GenericName[sl]=Podatki o sistemskih procesih
GenericName[sv]=Information om systemprocesser
GenericName[ta]=¸½¢É¢î ¦ºÂü ¾¸Åø
GenericName[th]=ข้อมูลโปรเซสของระบบ
GenericName[tr]=Sistem Süreç Bilgileri
GenericName[uk]=Інформація про систему
GenericName[ven]=Mafhungo a Tshitenwa tsha Kuitele
GenericName[vi]=Thông tin tiến trình hệ thống
GenericName[xh]=Ulwazi Lwendlela Yoqhubekeko
GenericName[zh_CN]=系统进程信息
GenericName[zh_TW]=系統程序資訊
GenericName[zu]=Ulwazi Lwesistimu Yokuprosesa
Comment[af]=Stelsel Proses Informasie
Comment[ar]=معلومات عمليات النظام
Comment[bg]=Информация за системните процеси
Comment[bs]=Informacije o sistemskim procesima
Comment[cs]=Informace o systémových procesech
Comment[da]=Systemprocesinformation
Comment[de]=Infos zu laufenden Programmen
Comment[el]=Πληροφορίες για τις Διεργασίες του Συστήματος
Comment[eo]=Informo pri procezoj
Comment[es]=Información sobre procesos del sistema
Comment[et]=Süsteemi protsesside info
Comment[eu]=Sistemaren Prozesei buruzko Informazioa
Comment[fi]=Järjestelmän prosessien tietoja
Comment[fr]=Informations sur les processus du système
Comment[he]=מידע לגבי תהליכים של המערכת
Comment[hu]=információ a rendszerfolyamatokról
Comment[is]=Upplýsingar um kerfisferli
Comment[it]=Informazioni sui processi di sistema
Comment[ja]=システムプロセス情報
Comment[lt]=Sistemos procesų informacija
Comment[lv]=Sistēmas Procesu Informācija
Comment[nb]=Informasjon om systemprosesser
Comment[nl]=informatie over systeemprocessen
Comment[nn]=Informasjon om systemprosessar
Comment[pl]=Informacje o systemie
Comment[pt]=Informações dos Processos do Sistema
Comment[pt_BR]=Informações sobre processos do sistema
Comment[ro]=Afişează informaţii despre procesele sistemului
Comment[ru]=Сведения о системных процессах
Comment[sk]=Informácie o procesoch
Comment[sl]=Podatki o sistemskih procesih
Comment[sv]=Information om systemprocesser
Comment[ta]=¸½¢É¢î ¦ºÂü ¾¸Åø
Comment[th]=ข้อมูลโปรเซสของระบบ
Comment[tr]=Sistem Süreç Bilgileri
Comment[uk]=Інформація про систему
Comment[ven]=Mafhungo a Tshitenwa tsha Kuitele
Comment[vi]=Thông tin tiến trình hệ thống
Comment[xh]=Ulwazi Lwendlela Yoqhubekeko
Comment[zh_CN]=系统进程信息
Comment[zh_TW]=系統程序資訊
Comment[zu]=Ulwazi Lwesistimu Yokuprosesa
Exec=procinfo -f
Icon=normal/Pulse
Terminal=true
Type=Application
Encoding=UTF-8
Categories=System
X-AfterStep-IndexName=procinfo
TryExec=procinfo

[Desktop Entry]
Name=X System Info
GenericName=System Info
Comment=Display Linux kernel parameters in graphical form
Name[af]=Stelsel inligting
Name[az]=Sistem Məlumatı
Name[be]=Сыстэмная інфармацыя
Name[bn]=সিস্টেম তথ্য
Name[br]=Titouroù diwar-benn ar reizhiad
Name[bs]=Sistemske informacije
Name[ca]=Informació del sistema
Name[cs]=Systémové informace
Name[cy]=Gwybodaeth Gysawd
Name[da]=Systeminfo
Name[de]=Systeminformation
Name[el]=Πληροφορίες συστήματος
Name[eo]=Sisteminformo
Name[es]=Información del sistema
Name[et]=Süsteemi info
Name[eu]=Sistemaren informazioa
Name[fa]=اطلاعات سیستم
Name[fi]=Järjestelmätiedot
Name[fr]=Informations système
Name[fy]=Systeemynformaasje
Name[ga]=Eolas faoin Chóras
Name[gl]=Informazón do Sistema
Name[he]=מידע אודות המערכת
Name[hi]=तंत्र जानकारी
Name[hr]=Podaci o sustavu
Name[hu]=Rendszerinformáció
Name[is]=Kerfisupplýsingar
Name[it]=Informazioni sul sistema
Name[ja]=システム情報
Name[km]=ព័ត៌មាន​ប្រព័ន្ធ
Name[lt]=Sistemos informacija
Name[lv]=Sistēmas info
Name[mk]=Системски информации
Name[ms]=Maklumat Sistem
Name[mt]=Informazzjoni tas-sistema
Name[nb]=Systeminformasjon
Name[nds]=Systeeminfo
Name[nl]=Systeeminformatie
Name[nn]=Systeminformasjon
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o systemie
Name[pt]=Informação do Sistema
Name[pt_BR]=Informações do Sistema
Name[ro]=Informaţii despre sistem
Name[ru]=Сведения о системе
Name[rw]=Amakuru Sisitemu
Name[se]=Vuogádatdiehtu
Name[sk]=Systémové informácie
Name[sl]=Sistemske informacije
Name[sr]=Информације о систему
Name[sr@Latn]=Informacije o sistemu
Name[sv]=Systeminformation
Name[ta]=அமைப்பு தகவல்
Name[tg]=Иттилооти система
Name[th]=ข้อมูลระบบ
Name[tr]=Sistem Bilgisi
Name[tt]=Sistem Turında
Name[uk]=Інформація про систему
Name[uz]=Тизим ҳақида маълумот
Name[vi]=Thông tin Hệ thống
Name[zh_CN]=系统信息
Name[zh_TW]=系統資訊
Exec=xsysinfo
Icon=normal/Pulse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System
X-AfterStep-IndexName=xsysinfo
TryExec=xsysinfo

[Desktop Entry]
Name=X Load
GenericName=Monitors System Load
Comment=Monitors System Load
Name[af]=X Las
Name[az]=X Yük
Name[br]=Karg X
Name[ca]=Càrrega X
Name[da]=X Belastning
Name[de]=X-Load
Name[eo]=XŜarĝo
Name[es]=XLoad
Name[fi]=X-kuorma
Name[fr]=XLoad
Name[is]=X-álagsmælir
Name[ko]=X용 로드
Name[lv]=X Slodze
Name[mk]=X товар
Name[nb]=X-last
Name[nn]=X-last
Name[oc]=Carga X
Name[pl]=X Obciążenie
Name[pt]=Carga X
Name[ru]=X Загрузка
Name[sv]=X load
Name[ta]=X ²üÈõ
Name[th]=โหลดระบบของ X
Name[tr]=X Yük
Name[ven]=Muhwalo wa X
Name[vi]=Nạp X
Name[xh]=Ulayisho luka X
Name[zh_CN]=X 负载
Name[zh_TW]=X 負載
Name[zu]=Ulayisho luka X
GenericName[af]=Monitor Stelsel Las
GenericName[ar]=مراقبة تحميل النظام
GenericName[bs]=Praćenje opterećenja sistema
GenericName[cs]=Monitor zatížení systému
GenericName[da]=Overvåger systemets belastning
GenericName[de]=Informationen zur Systemauslastung
GenericName[el]=Καταγράφει το Φόρτο του Συστήματος
GenericName[eo]=Montras la sistemŝarĝon
GenericName[es]=Monitoriza la carga del sistema
GenericName[et]=Süsteemi koormuse monitor
GenericName[eu]=Sistemaren Karga Monitorizatzen du
GenericName[fi]=Seuraa järjestelmän kuormaa
GenericName[fr]=Pour suivre la charge du système
GenericName[he]=צג עומס של המערכת
GenericName[hu]=rendszermonitor
GenericName[is]=Upplýsingar um álag á kerfinu
GenericName[it]=Mostra il carico del sistema
GenericName[ja]=システムロードをモニターする
GenericName[lt]=Rodo sistemos apkrovą
GenericName[lv]=Rāda Sistēmas Noslodzi
GenericName[nb]=Overvåker systemlasten
GenericName[nl]=bewaakt systeembelasting
GenericName[nn]=Overvakar systembelastinga
GenericName[pl]=Informacje o obciążeniu systemu
GenericName[pt]=Monitorização da Carga do Sistema
GenericName[pt_BR]=Monitora a carga do sistema
GenericName[ro]=Monitorizează încărcarea sistemului
GenericName[ru]=Загрузка системы
GenericName[sk]=Monitor záťaže systému
GenericName[sl]=Pregleduje obremenjenost sistema
GenericName[sv]=Övervakar systemets belastning
GenericName[ta]=¸½¢É¢ô ÀØ¨Å §ÁüÀ¡÷¨ÅÂ¢Îõ
GenericName[th]=ตรวจสอบโหลดของระบบ
GenericName[tr]=Sistem yükünü izler
GenericName[uk]=Стежить за завантаженням системи
GenericName[ven]=Muhwalo wa Kuitele Kwa Vhagadi
GenericName[vi]=Theo dõi tải hệ thống
GenericName[xh]=Indlela Yolayisho LwaBaphendli
GenericName[zh_CN]=监视系统负载
GenericName[zh_TW]=監視系統負載
GenericName[zu]=Isistimu Yolayisho lwaBaphendli
Comment[af]=Monitor Stelsel Las
Comment[ar]=مراقبة تحميل النظام
Comment[bs]=Praćenje opterećenja sistema
Comment[cs]=Monitor zatížení systému
Comment[da]=Overvåger systemets belastning
Comment[de]=Informationen zur Systemauslastung
Comment[el]=Καταγράφει το Φόρτο του Συστήματος
Comment[eo]=Montras la sistemŝarĝon
Comment[es]=Monitoriza la carga del sistema
Comment[et]=Süsteemi koormuse monitor
Comment[eu]=Sistemaren Karga Monitorizatzen du
Comment[fi]=Seuraa järjestelmän kuormaa
Comment[fr]=Pour suivre la charge du système
Comment[he]=צג עומס של המערכת
Comment[hu]=rendszermonitor
Comment[is]=Upplýsingar um álag á kerfinu
Comment[it]=Mostra il carico del sistema
Comment[ja]=システムロードをモニターする
Comment[lt]=Rodo sistemos apkrovą
Comment[lv]=Rāda Sistēmas Noslodzi
Comment[nb]=Overvåker systemlasten
Comment[nl]=bewaakt systeembelasting
Comment[nn]=Overvakar systembelastinga
Comment[pl]=Informacje o obciążeniu systemu
Comment[pt]=Monitorização da Carga do Sistema
Comment[pt_BR]=Monitora a carga do sistema
Comment[ro]=Monitorizează încărcarea sistemului
Comment[ru]=Загрузка системы
Comment[sk]=Monitor záťaže systému
Comment[sl]=Pregleduje obremenjenost sistema
Comment[sv]=Övervakar systemets belastning
Comment[ta]=¸½¢É¢ô ÀØ¨Å §ÁüÀ¡÷¨ÅÂ¢Îõ
Comment[th]=ตรวจสอบโหลดของระบบ
Comment[tr]=Sistem yükünü izler
Comment[uk]=Стежить за завантаженням системи
Comment[ven]=Muhwalo wa Kuitele Kwa Vhagadi
Comment[vi]=Theo dõi tải hệ thống
Comment[xh]=Indlela Yolayisho LwaBaphendli
Comment[zh_CN]=监视系统负载
Comment[zh_TW]=監視系統負載
Comment[zu]=Isistimu Yolayisho lwaBaphendli
Exec=xload
Icon=normal/Wrench
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System
TryExec=xload

[Desktop Entry]
Name=Top CPU Processes
GenericName=Top CPU Processes
Comment=Display top CPU processes
Exec=top
Icon=normal/Pulse
Terminal=true
Type=Application
Encoding=UTF-8
Categories=System
X-AfterStep-IndexName=top
TryExec=top
