[Desktop Entry]
Name=AfterStep Terminal
GenericName=Terminal Program
Comment=Color VT102 emulator for the X window system
Name[af]=Terminaal
Name[ar]=الطرفية
Name[be]=Тэрмінал
Name[bg]=Терминал
Name[br]=Termenell
Name[cs]=Terminál
Name[de]=Aterm-Terminal
Name[el]=Τερματικό
Name[eo]=Terminalo
Name[eu]=Terminala
Name[fi]=Terminaali
Name[is]=X-skjáhermir
Name[it]=Terminale
Name[ja]=ターミナル
Name[lt]=Terminalas
Name[lv]=Termināls
Name[mk]=Терминал
Name[ru]=Терминал
Name[sk]=Terminál
Name[ta]=Ó¨ÉÂõ
Name[th]=เทอร์มินัล
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[ven]=Mafhedziselo
Name[wa]=Terminå
Name[xh]=Isiphelo sendlela
Name[zh_CN]=终端
Name[zh_TW]=終端機
Name[zu]=Isiphelo sendlela se X
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج تيرمينال
GenericName[be]=Тэрмінал
GenericName[bg]=Терминална програма
GenericName[bs]=Terminalni program
GenericName[cs]=Terminálový program
GenericName[da]=Terminalprogram
GenericName[de]=Terminal-Programm
GenericName[el]=Πρόγραμμα Τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminali emulaator
GenericName[eu]=Terminala Programa
GenericName[fi]=Terminaaliohjelma
GenericName[fr]=Terminal
GenericName[he]=תוכנית מסוף
GenericName[hu]=terminálprogram
GenericName[is]=Skjáhermir (terminal)
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla Programma
GenericName[nb]=Et terminalprogram
GenericName[nl]=terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sv]=Terminalprogram
GenericName[ta]=Ó¨ÉÂ ¿¢Ãø
GenericName[th]=แอพพลิเคชันเทอร์มินัล
GenericName[tr]=Terminal Programı
GenericName[uk]=Програма терміналу
GenericName[ven]=Mbekanyamushumo ya Mafhedziselo
GenericName[vi]=Chương Trình Terminal
GenericName[xh]=Inkqubo ye Terminal
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
GenericName[zu]=Eyangaphakathi Iprogremu
Comment[af]=Terminaal Program
Comment[ar]=برنامج تيرمينال
Comment[be]=Тэрмінал
Comment[bg]=Терминална програма
Comment[bs]=Terminalni program
Comment[cs]=Terminálový program
Comment[da]=Terminalprogram
Comment[de]=Terminal-Programm
Comment[el]=Πρόγραμμα Τερματικού
Comment[eo]=Terminalimitaĵo
Comment[es]=Programa de terminal
Comment[et]=Terminali emulaator
Comment[eu]=Terminala Programa
Comment[fi]=Terminaaliohjelma
Comment[fr]=Terminal
Comment[he]=תוכנית מסוף
Comment[hu]=terminálprogram
Comment[is]=Skjáhermir (terminal)
Comment[it]=Programma terminale
Comment[ja]=ターミナルプログラム
Comment[lt]=Terminalo programa
Comment[lv]=Termināla Programma
Comment[nb]=Et terminalprogram
Comment[nl]=terminalprogramma
Comment[nn]=Terminalprogram
Comment[pl]=Program terminala
Comment[pt]=Programa de Terminal
Comment[pt_BR]=Terminal
Comment[ro]=Program terminal
Comment[ru]=Терминал
Comment[sk]=Terminál
Comment[sl]=Terminalski program
Comment[sv]=Terminalprogram
Comment[ta]=Ó¨ÉÂ ¿¢Ãø
Comment[th]=แอพพลิเคชันเทอร์มินัล
Comment[tr]=Terminal Programı
Comment[uk]=Програма терміналу
Comment[ven]=Mbekanyamushumo ya Mafhedziselo
Comment[vi]=Chương Trình Terminal
Comment[xh]=Inkqubo ye Terminal
Comment[zh_CN]=终端程序
Comment[zh_TW]=終端機程式
Comment[zu]=Eyangaphakathi Iprogremu
Exec=aterm
Icon=logos/aterm2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=aterm
TryExec=aterm

[Desktop Entry]
Name=Xi Terminal
GenericName=Terminal Program
Comment=VT102 emulator for the X window system
Exec=xiterm -bg black -fg grey70 -sl 500 -vb
Icon=logos/Unicode
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=xiterm
TryExec=xiterm

[Desktop Entry]
Name=X Terminal
GenericName=Terminal Program
Comment=VT102 & VT220 Terminal emulator for X
Name[af]=X Terminaal
Name[az]=X Terminalı
Name[be]=X Тэрмінал
Name[bn]=এক্স টার্মিনাল
Name[br]=Termenell X
Name[ca]=Terminal X
Name[cs]=X Terminál
Name[cy]=X Terfynell
Name[de]=X-Terminal
Name[el]=Τερματικό X
Name[eo]=XTerminalo
Name[es]=Terminal de X
Name[eu]=X terminala
Name[fa]=X پایانه
Name[fi]=X-terminaali
Name[fr]=XTerm
Name[ga]=Teirminéal X
Name[hi]=एक्स टर्मिनल
Name[hr]=X terminal
Name[is]=X skjáhermir
Name[km]=ស្ថានីយ X
Name[ko]=X용 터미널
Name[lo]=ເທີມີນອນຂອງ X
Name[lt]=X Terminalas
Name[lv]=X Termināls
Name[mk]=X Терминал
Name[mn]=X-Терминал
Name[nb]=X-terminal
Name[nds]=X-Terminal
Name[nn]=X-terminal
Name[oc]=Terminal X
Name[pa]=X ਟਰਮੀਨਲ
Name[pt]=Terminal do X
Name[pt_BR]=Terminal X
Name[ro]=Terminal X
Name[ru]=X-терминал
Name[rw]=X Igihera
Name[sk]=X Terminál
Name[sl]=Terminal X
Name[ss]=Sikhungo X 
Name[sv]=X terminal
Name[ta]=X கடைசி
Name[tg]=Поёнаи X
Name[th]=เทอร์มินอลของ X
Name[tr]=X Uçbirimi
Name[uk]=X-Термінал
Name[uz]=X учун терминал
Name[vi]=Thiết bị cuối X
Name[wa]=Terminå X
Name[xh]=Isiphelo sendlela se X
Name[zh_CN]=X 终端
Name[zh_TW]=X 終端機
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج تيرمينال
GenericName[az]=Terminal Proqramı
GenericName[be]=Тэрмінал
GenericName[bg]=Терминална програма
GenericName[bn]=টার্মিনাল প্রোগ্রাম
GenericName[br]=Goulev termenell
GenericName[bs]=Terminalni program
GenericName[ca]=Programa de terminal
GenericName[cs]=Terminálový program
GenericName[cy]=Rhaglen Terfynell
GenericName[da]=Terminalprogram
GenericName[de]=Terminalprogramm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal programa
GenericName[fa]=برنامۀ پایانه
GenericName[fi]=Komentoikkunaohjelma
GenericName[fr]=Terminal
GenericName[fy]=Terminalprogramma
GenericName[ga]=Clár teirminéil
GenericName[gl]=Programa de Terminal
GenericName[he]=תוכנית מסוף
GenericName[hi]=टर्मिनल प्रोग्राम
GenericName[hr]=Terminalski program
GenericName[hu]=Parancsértelmező
GenericName[id]=Program Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[km]=កម្មវិធី​ស្ថានីយ
GenericName[lo]=ອັບພລິກເຄເຊິນ ເທີມີນອນ
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla Programma
GenericName[mk]=Терминалска програма
GenericName[mn]=Терминал-Програм
GenericName[ms]=Program Terminal
GenericName[mt]=Programm ta' terminal
GenericName[nb]=Terminalprogram
GenericName[nds]=Terminal-Programm
GenericName[nl]=Terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[nso]=Lenaneo la Terminal
GenericName[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[rw]=Porogaramu Umukiriya
GenericName[se]=Terminálaprográmma
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sr]=Терминалски програм
GenericName[sr@Latn]=Terminalski program
GenericName[ss]=Luhlelo lwesikhungo
GenericName[sv]=Terminalprogram
GenericName[ta]=கடைசி நிரலி
GenericName[tg]=Барномаи поёна
GenericName[th]=โปรแกรมเทอร์มินอล
GenericName[tr]=Terminal Programı
GenericName[tt]=Terminal Yazılımı
GenericName[uk]=Програма терміналу
GenericName[uz]=Терминал дастури
GenericName[ven]=Mbekanyamushumo ya Mafhedziselo
GenericName[vi]=Trình đầu cuối
GenericName[wa]=Programe di terminå
GenericName[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
GenericName[zu]=Uhlelo lwemisebenzi lwangaohandle
Comment[af]=Terminaal Program
Comment[ar]=برنامج تيرمينال
Comment[az]=Terminal Proqramı
Comment[be]=Тэрмінал
Comment[bg]=Терминална програма
Comment[bn]=টার্মিনাল প্রোগ্রাম
Comment[br]=Goulev termenell
Comment[bs]=Terminalni program
Comment[ca]=Programa de terminal
Comment[cs]=Terminálový program
Comment[cy]=Rhaglen Terfynell
Comment[da]=Terminalprogram
Comment[de]=Terminalprogramm
Comment[el]=Πρόγραμμα τερματικού
Comment[eo]=Terminalimitaĵo
Comment[es]=Programa de terminal
Comment[et]=Terminaliemulaator
Comment[eu]=Terminal programa
Comment[fa]=برنامۀ پایانه
Comment[fi]=Komentoikkunaohjelma
Comment[fr]=Terminal
Comment[fy]=Terminalprogramma
Comment[ga]=Clár teirminéil
Comment[gl]=Programa de Terminal
Comment[he]=תוכנית מסוף
Comment[hi]=टर्मिनल प्रोग्राम
Comment[hr]=Terminalski program
Comment[hu]=Parancsértelmező
Comment[id]=Program Terminal
Comment[is]=Skjáhermir
Comment[it]=Programma terminale
Comment[ja]=ターミナルプログラム
Comment[km]=កម្មវិធី​ស្ថានីយ
Comment[lo]=ອັບພລິກເຄເຊິນ ເທີມີນອນ
Comment[lt]=Terminalo programa
Comment[lv]=Termināla Programma
Comment[mk]=Терминалска програма
Comment[mn]=Терминал-Програм
Comment[ms]=Program Terminal
Comment[mt]=Programm ta' terminal
Comment[nb]=Terminalprogram
Comment[nds]=Terminal-Programm
Comment[nl]=Terminalprogramma
Comment[nn]=Terminalprogram
Comment[nso]=Lenaneo la Terminal
Comment[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
Comment[pl]=Program terminala
Comment[pt]=Programa de Terminal
Comment[pt_BR]=Terminal
Comment[ro]=Program terminal
Comment[ru]=Терминал
Comment[rw]=Porogaramu Umukiriya
Comment[se]=Terminálaprográmma
Comment[sk]=Terminál
Comment[sl]=Terminalski program
Comment[sr]=Терминалски програм
Comment[sr@Latn]=Terminalski program
Comment[ss]=Luhlelo lwesikhungo
Comment[sv]=Terminalprogram
Comment[ta]=கடைசி நிரலி
Comment[tg]=Барномаи поёна
Comment[th]=โปรแกรมเทอร์มินอล
Comment[tr]=Terminal Programı
Comment[tt]=Terminal Yazılımı
Comment[uk]=Програма терміналу
Comment[uz]=Терминал дастури
Comment[ven]=Mbekanyamushumo ya Mafhedziselo
Comment[vi]=Trình đầu cuối
Comment[wa]=Programe di terminå
Comment[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
Comment[zh_CN]=终端程序
Comment[zh_TW]=終端機程式
Comment[zu]=Uhlelo lwemisebenzi lwangaohandle
Exec=xterm
Icon=logos/XWindow3
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=xterm
TryExec=xterm

[Desktop Entry]
Name=Mlterm Terminal
GenericName=Terminal Program
Comment=Use Multi-Lingual Command Line
Name[de]=Multilingualer Terminalemulator
Name[ja]=多言語端末
GenericName[de]=Multilingualer Terminalprogramm
GenericName[ja]=多言語端末
Comment[de]=Multilingualer Terminalemulator
Comment[ja]=国際化対応端末
Exec=mlterm
Icon=mlterm-icon-gnome2.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=mlterm
TryExec=mlterm

[Desktop Entry]
Name=RXVT
GenericName=Terminal Program
Comment=ouR eXtended Virtual Terminal
Name[hi]=आरएक्सवीटी
Name[lo]=ສຸວັນທອງ
GenericName[af]=Terminaal Program
GenericName[ar]=برنامج تيرمينال
GenericName[az]=Terminal Proqramı
GenericName[be]=Тэрмінал
GenericName[bg]=Терминална програма
GenericName[bn]=টার্মিনাল প্রোগ্রাম
GenericName[br]=Goulev termenell
GenericName[bs]=Terminalni program
GenericName[ca]=Programa de terminal
GenericName[cs]=Terminálový program
GenericName[cy]=Rhaglen Terfynell
GenericName[da]=Terminalprogram
GenericName[de]=Terminalprogramm
GenericName[el]=Πρόγραμμα τερματικού
GenericName[eo]=Terminalimitaĵo
GenericName[es]=Programa de terminal
GenericName[et]=Terminaliemulaator
GenericName[eu]=Terminal programa
GenericName[fa]=برنامۀ پایانه
GenericName[fi]=Komentoikkunaohjelma
GenericName[fr]=Terminal
GenericName[fy]=Terminalprogramma
GenericName[ga]=Clár teirminéil
GenericName[gl]=Programa de Terminal
GenericName[he]=תוכנית מסוף
GenericName[hi]=टर्मिनल प्रोग्राम
GenericName[hr]=Terminalski program
GenericName[hu]=Parancsértelmező
GenericName[id]=Program Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Programma terminale
GenericName[ja]=ターミナルプログラム
GenericName[km]=កម្មវិធី​ស្ថានីយ
GenericName[lo]=ອັບພລິກເຄເຊິນ ເທີມີນອນ
GenericName[lt]=Terminalo programa
GenericName[lv]=Termināla Programma
GenericName[mk]=Терминалска програма
GenericName[mn]=Терминал-Програм
GenericName[ms]=Program Terminal
GenericName[mt]=Programm ta' terminal
GenericName[nb]=Terminalprogram
GenericName[nds]=Terminal-Programm
GenericName[nl]=Terminalprogramma
GenericName[nn]=Terminalprogram
GenericName[nso]=Lenaneo la Terminal
GenericName[pa]=ਟਰਮੀਨਲ ਪਰੋਗਰਾਮ
GenericName[pl]=Program terminala
GenericName[pt]=Programa de Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Program terminal
GenericName[ru]=Терминал
GenericName[rw]=Porogaramu Umukiriya
GenericName[se]=Terminálaprográmma
GenericName[sk]=Terminál
GenericName[sl]=Terminalski program
GenericName[sr]=Терминалски програм
GenericName[sr@Latn]=Terminalski program
GenericName[ss]=Luhlelo lwesikhungo
GenericName[sv]=Terminalprogram
GenericName[ta]=கடைசி நிரலி
GenericName[tg]=Барномаи поёна
GenericName[th]=โปรแกรมเทอร์มินอล
GenericName[tr]=Terminal Programı
GenericName[tt]=Terminal Yazılımı
GenericName[uk]=Програма терміналу
GenericName[uz]=Терминал дастури
GenericName[ven]=Mbekanyamushumo ya Mafhedziselo
GenericName[vi]=Trình đầu cuối
GenericName[wa]=Programe di terminå
GenericName[xh]=Inkqubo Yesixhobo sangaphandle sekhompyutha
GenericName[zh_CN]=终端程序
GenericName[zh_TW]=終端機程式
GenericName[zu]=Uhlelo lwemisebenzi lwangaohandle
Comment[af]=Uitgebreide Virtuele Terminaal
Comment[ar]=سطر الأواكر التخيلي الممتد الخاص بنا
Comment[bg]=Разширен виртуален терминал
Comment[ca]=Terminal virtual ouR eXtended
Comment[cy]=ein terfynell rhith estynedig
Comment[da]=ouR eXtended Virtuel Terminal
Comment[el]=Το δικό μας εκτεταμένο εικονικό τερματικό
Comment[eo]=Nia pli ampleksigita virtuala terminalo (rxvt)
Comment[es]=Nuestro terminal virtual extendido
Comment[eu]=ouR eXtended terminal birtuala
Comment[fa]=ouR eXtended پایانۀ مجازی
Comment[gl]=Terminal Virtual Extendida
Comment[he]=מסוף וירטואלי מורחב
Comment[hi]=अपनाR बढ़ायाX हुआ आभासीV टर्मिनलT
Comment[hr]=ouR eXtended (naš prošireni) Virtualni Terminal
Comment[hu]=Virtuális terminál
Comment[is]=Okkar góði endurbætti skjáhermir
Comment[it]=Terminale esteso
Comment[lo]=ປັບແຕ່ງປະສົມສງງ
Comment[lv]=ouR paplašinātais virtuālais termināls
Comment[mn]=ouR eXtended Virtual Терминал
Comment[ms]=Terminal Maya ouR eXtended
Comment[nb]=Terminalemulator
Comment[nds]=Steiht för "ouR eXtended Virtual Terminal"
Comment[nn]=Terminalemulator
Comment[nso]=Terminal ya reNa ye Maatla yeo e oKeditswego
Comment[pa]=ouR eXtended ਫਰਜ਼ੀ ਟਰਮੀਨਲ
Comment[pl]=rxvt - Rozszerzony Terminal Wirtualny
Comment[pt_BR]=Terminal Virtual Estendido
Comment[ro]=Terminal virtual extins
Comment[ru]=Расширенный эмулятор терминала
Comment[rw]=Igihera Kitagaragara Cyaguye Cyacu
Comment[se]=Terminálemuláhtor
Comment[sk]=Náš rozšírený virtuálny terminál
Comment[sl]=Razširjeni navidezni terminal
Comment[sr]=ouR eXtended Virtual терминал
Comment[sr@Latn]=ouR eXtended Virtual terminal
Comment[ss]=Sikhungo selucobo se-ouR eXtended
Comment[sv]=Vår utökade virtuella terminal
Comment[ta]=விரிந்த உருவாக்கப்பட்ட சாதனம்
Comment[tg]=Эмулятори кушоди поёнаи мо
Comment[th]=เทอร์มินอลเสมือนที่เพิ่มความสามารถของเรา
Comment[tr]=Geliştirilmiş Sanal Terminal
Comment[tt]=Xıyalí Terminal (ouR)
Comment[uk]=Наш покращений віртуальний термінал
Comment[ven]=Theminala ya mutshini yo lapfiswaho yashu
Comment[vi]=Trình đầu cuối ảo mở rộng của chúng ta (RXVT)
Comment[xh]=ouR eXtended Isiphelo sendlela Esingabonakaliyo
Comment[zh_CN]=我们扩展的虚拟终端
Comment[zh_TW]=我們的延伸式虛擬終端機
Comment[zu]=Ithuluzi langaphandle Langamanga Lethu Elinwetshiwe
Exec=rxvt
Icon=normal/Monitor1
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=rxvt
TryExec=rxvt

[Desktop Entry]
Name=E Terminal
GenericName=Terminal Program
Comment=Color VT102 emulator for the X window system
Exec=Eterm -P ~/.afterstep/non-configurable/0_background -f white
Icon=logos/Eterm
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=Eterm
TryExec=Eterm

[Desktop Entry]
Name=Rxvt-Unicode Terminal
GenericName=Terminal Program
Comment=rxvt-unicode is a clone of the well known terminal emulator rxvt
Exec=urxvt
Icon=logos/Unicode
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator
X-AfterStep-IndexName=rxvt-unicode
TryExec=urxvt
