[Desktop Entry]
Name=X Emacs
GenericName=Text Editor
Comment=Native X GUI version of Emacs text editor
Name[eo]=XEmakso
Name[es]=XEmacs
Name[fr]=XEmacs
Name[id]= Emacs X
Name[ko]=X용 이맥스
Name[nb]=X-Emacs
Name[zh_TW]=XEmacs 編輯器
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bs]=Tekst editor
GenericName[cs]=Textový editor
GenericName[da]= Tekst-editor
GenericName[de]=Texteditor
GenericName[el]=Διορθωτής Κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mt]=Editur tat-test
GenericName[nb]=Tekstredigerer
GenericName[nl]=teksteditor
GenericName[nn]=Skriveprogram
GenericName[pl]=Edytor tekstowy
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sv]=Texteditor
GenericName[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình biên soạn text
GenericName[xh]=Umhleli Wokubhaliweyo
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo 
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текст Редактор
Comment[bs]=Tekst editor
Comment[cs]=Textový editor
Comment[da]= Tekst-editor
Comment[de]=Texteditor
Comment[el]=Διορθωτής Κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu Editorea
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[mt]=Editur tat-test
Comment[nb]=Tekstredigerer
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[pl]=Edytor tekstowy
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เครื่องมือแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[uk]=Редактор текстів
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình biên soạn text
Comment[xh]=Umhleli Wokubhaliweyo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
Exec=xemacs
Icon=emacs
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
TryExec=xemacs

[Desktop Entry]
Name=Emacs
GenericName=Text Editor
Comment=Console version of Emacs text editor
Name[eo]=Emakso
Name[ko]=이맥스
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bs]=Tekst editor
GenericName[cs]=Textový editor
GenericName[da]= Tekst-editor
GenericName[de]=Texteditor
GenericName[el]=Διορθωτής Κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mt]=Editur tat-test
GenericName[nb]=Tekstredigerer
GenericName[nl]=teksteditor
GenericName[nn]=Skriveprogram
GenericName[pl]=Edytor tekstowy
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sv]=Texteditor
GenericName[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình biên soạn text
GenericName[xh]=Umhleli Wokubhaliweyo
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo 
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текст Редактор
Comment[bs]=Tekst editor
Comment[cs]=Textový editor
Comment[da]= Tekst-editor
Comment[de]=Texteditor
Comment[el]=Διορθωτής Κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu Editorea
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[mt]=Editur tat-test
Comment[nb]=Tekstredigerer
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[pl]=Edytor tekstowy
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เครื่องมือแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[uk]=Редактор текстів
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình biên soạn text
Comment[xh]=Umhleli Wokubhaliweyo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
Exec=emacs
Icon=emacs
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=emacs
TryExec=emacs

[Desktop Entry]
Name=VI
GenericName=VI
Comment=VI text editor
Exec=vi
Icon=logos/VIM
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=vi
TryExec=vi

[Desktop Entry]
Name=NEdit
GenericName=Text Editor
Comment=NEdit GUI text editor for X using Motif
Name[bg]=NEdit
Name[br]=Edit
Name[mi]=NWhakatika
Name[ru]=NEdit
Name[xh]=Hlela u N
Name[zu]=N-uhlelo
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bs]=Tekst editor
GenericName[cs]=Textový editor
GenericName[da]= Tekst-editor
GenericName[de]=Texteditor
GenericName[el]=Διορθωτής Κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mt]=Editur tat-test
GenericName[nb]=Tekstredigerer
GenericName[nl]=teksteditor
GenericName[nn]=Skriveprogram
GenericName[pl]=Edytor tekstowy
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sv]=Texteditor
GenericName[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình biên soạn text
GenericName[xh]=Umhleli Wokubhaliweyo
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo 
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текст Редактор
Comment[bs]=Tekst editor
Comment[cs]=Textový editor
Comment[da]= Tekst-editor
Comment[de]=Texteditor
Comment[el]=Διορθωτής Κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu Editorea
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[mt]=Editur tat-test
Comment[nb]=Tekstredigerer
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[pl]=Edytor tekstowy
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เครื่องมือแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[uk]=Редактор текстів
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình biên soạn text
Comment[xh]=Umhleli Wokubhaliweyo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
Exec=nedit
Icon=logos/NEdit
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
TryExec=nedit

[Desktop Entry]
Name=Nano
GenericName=Text Editor
Comment=Text Editor
Name[ar]=نانو
Name[bn]=ন্যানো
Name[hi]=नेनो
Name[ko]=나노
Name[lo]=ສຸ່ມ
Name[ta]=நானோ
Name[tg]=Нано
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[az]=Mətn Editoru
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[br]=Aozer skrid
GenericName[bs]=Tekst editor
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fo]=Tekstritil
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de Textos
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[ko]=글월 편집기
GenericName[lo]=ເຄື່ອງມືແກ້ໄຂຂໍ້ຄວາມ
GenericName[lt]=Teksto rengyklė
GenericName[lv]=Teksta Redaktors
GenericName[mk]=Уредувач на текст
GenericName[mn]=Текст боловсруулагч
GenericName[ms]=Penyunting Teks
GenericName[mt]=Editur tat-test
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[nso]=Mofetosi wa Sengwalwana
GenericName[pa]=ਪਾਠ ਸੰਪਾਦਕ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Muhinduzi Umwandiko
GenericName[se]=Čállinprográmma
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@Latn]=Uređivač teksta
GenericName[ss]=Sihleli sembhalo
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பாளர்
GenericName[tg]=Муҳаррири матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[tt]=Mäten Tözätkeçe
GenericName[uk]=Редактор текстів
GenericName[uz]=Матн таҳрирчи
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umlungisi wombhalo
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[az]=Mətn Editoru
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текстов редактор
Comment[bn]=টেক্সট সম্পাদক
Comment[br]=Aozer skrid
Comment[bs]=Tekst editor
Comment[ca]=Editor de text
Comment[cs]=Textový editor
Comment[cy]=Golygydd Testun
Comment[da]= Teksteditor
Comment[de]=Texteditor
Comment[el]=Επεξεργαστής κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu editorea
Comment[fa]=ویرایشگر متن
Comment[fi]=Tekstieditori
Comment[fo]=Tekstritil
Comment[fr]=Éditeur de texte
Comment[fy]=Tekstbewurker
Comment[ga]=Eagarthóir Téacs
Comment[gl]=Editor de Textos
Comment[he]=עורך טקסט
Comment[hi]=पाठ संपादक
Comment[hr]=Uređivač teksta
Comment[hsb]=Wobdźěłar tekstow
Comment[hu]=Szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[km]=កម្មវិធី​វាយ​អត្ថបទ
Comment[ko]=글월 편집기
Comment[lo]=ເຄື່ອງມືແກ້ໄຂຂໍ້ຄວາມ
Comment[lt]=Teksto rengyklė
Comment[lv]=Teksta Redaktors
Comment[mk]=Уредувач на текст
Comment[mn]=Текст боловсруулагч
Comment[ms]=Penyunting Teks
Comment[mt]=Editur tat-test
Comment[nb]=Skriveprogram
Comment[nds]=Texteditor
Comment[nl]=Teksteditor
Comment[nn]=Skriveprogram
Comment[nso]=Mofetosi wa Sengwalwana
Comment[pa]=ਪਾਠ ਸੰਪਾਦਕ
Comment[pl]=Edytor tekstu
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[rw]=Muhinduzi Umwandiko
Comment[se]=Čállinprográmma
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sr]=Уређивач текста
Comment[sr@Latn]=Uređivač teksta
Comment[ss]=Sihleli sembhalo
Comment[sv]=Texteditor
Comment[ta]=உரை தொகுப்பாளர்
Comment[tg]=Муҳаррири матн
Comment[th]=โปรแกรมแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[tt]=Mäten Tözätkeçe
Comment[uk]=Редактор текстів
Comment[uz]=Матн таҳрирчи
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình soạn văn bản
Comment[wa]=Aspougneu di tecse
Comment[xh]=Umhleli Wombhalo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umlungisi wombhalo
Exec=nano
Icon=normal/Pen1
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=nano
TryExec=nano

[Desktop Entry]
Name=Pico
GenericName=Text Editor
Comment=Text Editor
Name[eo]=Piko
Name[zu]=PIco
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bs]=Tekst editor
GenericName[cs]=Textový editor
GenericName[da]= Tekst-editor
GenericName[de]=Texteditor
GenericName[el]=Διορθωτής Κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mt]=Editur tat-test
GenericName[nb]=Tekstredigerer
GenericName[nl]=teksteditor
GenericName[nn]=Skriveprogram
GenericName[pl]=Edytor tekstowy
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sv]=Texteditor
GenericName[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình biên soạn text
GenericName[xh]=Umhleli Wokubhaliweyo
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo 
Comment[af]=Teks Redigeerder
Comment[ar]=محرر نصوص
Comment[be]=Тэкставы рэдактар
Comment[bg]=Текст Редактор
Comment[bs]=Tekst editor
Comment[cs]=Textový editor
Comment[da]= Tekst-editor
Comment[de]=Texteditor
Comment[el]=Διορθωτής Κειμένου
Comment[eo]=Tekstredaktilo
Comment[es]=Editor de texto
Comment[et]=Tekstiredaktor
Comment[eu]=Testu Editorea
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[ja]=テキストエディタ
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[mt]=Editur tat-test
Comment[nb]=Tekstredigerer
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[pl]=Edytor tekstowy
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[ru]=Текстовый редактор
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[th]=เครื่องมือแก้ไขข้อความ
Comment[tr]=Metin Düzenleyici
Comment[uk]=Редактор текстів
Comment[ven]=Musengulusi wa Manwalwa
Comment[vi]=Trình biên soạn text
Comment[xh]=Umhleli Wokubhaliweyo
Comment[zh_CN]=文本编辑器
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
Exec=pico
Icon=normal/Pen1
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=pico
TryExec=pico

[Desktop Entry]
Name=XJed
GenericName=XJed
Comment=another text editor
Exec=xjed
Icon=normal/Pen1
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=xjed
TryExec=xjed

[Desktop Entry]
Name=mined 2000 Unicode Editor
GenericName=Multi-language unicode text editor
Comment=Multi-language unicode text editor
Exec=mined
Icon=EditorUnicode
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-IndexName=mined
TryExec=mined

[Desktop Entry]
Name=Yudit Unicode Editor
GenericName=Multi-language unicode text editor
Comment=Multi-language unicode text editor
Exec=yudit
Icon=EditorUnicode
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
TryExec=yudit

