[Desktop Entry]
Name=XEmacs
GenericName=XEmacs
Comment=Native X GUI version of Emacs text editor
Exec=xemacs
Icon=emacs
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=Emacs
GenericName=Emacs
Comment=Console version of Emacs text editor
Exec=emacs
Icon=emacs
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=VI
GenericName=VI
Comment=VI text editor
Exec=vi
Icon=logos/VIM
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=NEdit
GenericName=NEdit
Comment=NEdit GUI text editor for X using Motif
Exec=nedit
Icon=logos/NEdit
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=Nano
GenericName=Nano
Comment=Simple text editor
Exec=nano
Icon=large/Document
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=XJed
GenericName=XJed
Comment=another text editor
Exec=xjed
Icon=large/Document
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=mined 2000 Unicode Editor
GenericName=Multi-language unicode text editor
Comment=Multi-language unicode text editor
Exec=mined
Icon=large/Document
Terminal=true
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=Yudit Unicode Editor
GenericName=Multi-language unicode text editor
Comment=Multi-language unicode text editor
Exec=yudit
Icon=large/Document
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor
X-AfterStep-CheckAvailability=true

