# FIXME - niklas (born2late) will finish that...
# initial input in cvs
# 49 good screesaver are too much atm
# atlantis vae
# bouboule
# blitspin 2x
# blocktube vae
# bsod 2x
# critical
# cynosure
# decayscreen
# distort
# eruption vae
# fireworkx 2x
# fliptext 2x
# fontglide vae
# fuzzyflakes vae
# flurry vae
# glflux(grab)
# glmatrix 2x
# glplanet 2x
# glsnake vae
# interaggregate 2x
# intermomentary 2x
# jigsaw
# lmorph
# maze -grid-size 8 -generator 0 vae favorite
# molecule vae (educational value)
# noof vae - very funky
# pacman
# pipes
# polyhedra vae - edutainment
# polyominoes vae
# pong vae
# pyro vae
# ripples(desktop)
# rubik vae
# shadebobs vae (may be too strong for epileptics)
# slidescreen
# starfish(blob)
# stairs vae
# starwars 2x
# strange
# substrate(circles) 2x (vae wants straight one)
# tangram vae (because it might be nice for children)
# timetunnel
# twang
# webcollage vae
# zoom(fatbits)
# xanalogtv 2x
# xjack vae (you like the shining ? )
# xmatrix 2x
# 
# 
# from vaevictus :
# 
# atunnel (removed - too dangerous for epileptics)
# kumppa (removed - too dangerous for epileptics)
# 
# blaster (removed - shitty)
# cage (removed)
# coral (removed - fractals and static...)
# deluxe (removed - spastic)
# juggle (removed - shitty)
# loop (removed - play game of life instead)
# 
# metaballs ( removed - again game of life)
# noseguy ( removed - shitty)
# penetrate (removed)
# pinion (removed - more gears after (f)gl(r)gears ? )
# sierpinski (removed - shitty)
# starfish (removed - looks gay)
# wormhole (removed - not for epileptics)
# cloudlife ( again fractals - though better ones)
# lament (shit - rubik does similar and better)
# lavalite (removed - bad quality)
# antspotlight (removed - not a long fascination)
# gleidescope (removed - epileptics endangered)
# anemotaxis (removed - schiach - means really uggly)
# memscroller (too depressing to see fragmentation + butt-uggly)
# fiberlamp (rejected - a xscr of $10 uselless shit)
# boing (removed - amiga is dead man)
# 
# 
# flag (defaults - are - shitty - maybe acceptable with other values)
# xflame - maybe
# xrayswarm - maybe
# 
# crackberg (acceptable -though not ubber quality)
# galaxy (acceptable)
# gltext (acceptable)
# kaleidescope (acceptable)
# phosphor (acceptable)
# sierpinski3d (acceptable)
# menger (acceptable - though only this or sierpinski3d)
# flipflop (acceptable)
# glslideshow (acceptable - defaults are useless)
# polytopes (acceptable - though epileptics - problems maybe)
# 
# xteevee
# goban
# 
# 
# 
# 
# 

[Desktop Entry]
Name=XScreensaver Demo & Prefs
GenericName=Screensaver
Comment=configure xscreensaver preferences
Exec=xscreensaver-demo
Icon=Configure
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Screensaver
X-AfterStep-CheckAvailability=true


[Desktop Entry]
Name=Activate XScreensaver
GenericName=screensaver-activate
Comment=
Exec=xscreensaver-command -activate
Icon=normal/MoonInMonitor
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Screensaver
X-AfterStep-CheckAvailability=true

[Desktop Entry]
Name=Lock screen
GenericName=screensaver-lock
Comment=Lock screen using xscreensaver
Exec=xscreensaver-command -lock
Icon=normal/LockClosed
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Screensaver
X-AfterStep-CheckAvailability=true

# Sasha thinks that this should be enough - we don't really want to be messing up with 
# xscreensaver config since they already have a GUI tool for that - not polite it is
