[Desktop Entry]
Name=X Refresh
GenericName=Refresh Screen
Comment=Refresh Screen
Name[af]=X-verfris
Name[eo]=Refreŝigo
Name[fr]=XRefresh
Name[pl]=X Odświeżanie
Name[pt_BR]=Atualização
Name[th]=ปรับปรุงหน้าจอ X
Name[ven]=U kokodza Muya ha X
Name[zu]=X vuselela kabusha
GenericName[af]=Verfris Skerm
GenericName[ar]=Xrefresh: إعادة انتعاش الشاشة
GenericName[bs]=Osvježi ekran
GenericName[cs]=Obnovit obrazovku
GenericName[da]=Genopfrisk skærm
GenericName[de]=Bildschirminhalt neu aufbauen
GenericName[el]=Ανανέωση Οθόνης
GenericName[eo]=Ekranrefreŝigo
GenericName[es]=Refrescar pantalla
GenericName[et]=Töölaua värskendamine
GenericName[eu]=Pantaila Freskatu
GenericName[fi]=Päivitä näyttö
GenericName[fr]=Pour rafraîchir l'affichage
GenericName[he]=ריענון המסך
GenericName[hu]=az X képernyő frissítése
GenericName[is]=Hreinsa skjáinn
GenericName[it]=Aggiorna lo schermo
GenericName[ja]=スクリーンのリフレッシュ
GenericName[lt]=Perpiešti ekraną
GenericName[lv]=Atsvaidzina Ekrāna
GenericName[nb]=Frisk opp skjermen
GenericName[nl]=scherm verversen
GenericName[nn]=Teikn skjermen på nytt
GenericName[pl]=Odświeżanie ekranu
GenericName[pt]=Refrescar o Ecrã
GenericName[pt_BR]=Atualização de Tela
GenericName[ro]=Reafişează ecranul
GenericName[ru]=Обновление экрана
GenericName[sk]=Prekreslenie obrazovky
GenericName[sl]=Osveži zaslon
GenericName[sv]=Uppdatera skärmen
GenericName[ta]=¾¢¨Ã Á£Ç¨ÁôÒ
GenericName[th]=ปรับปรุงหน้าจอ
GenericName[tr]=Ekranı Tazele
GenericName[uk]=Поновлення екрану
GenericName[ven]=U Kokodza Muya ha Tshikirini
GenericName[vi]=Làm tươi lại màn hình
GenericName[xh]=Zoba Kwakhona Ikhusi
GenericName[zh_CN]=刷新屏幕
GenericName[zh_TW]=更新螢幕
GenericName[zu]=Vuselela kabusha Isikrini
Comment[af]=Verfris Skerm
Comment[ar]=Xrefresh: إعادة انتعاش الشاشة
Comment[bs]=Osvježi ekran
Comment[cs]=Obnovit obrazovku
Comment[da]=Genopfrisk skærm
Comment[de]=Bildschirminhalt neu aufbauen
Comment[el]=Ανανέωση Οθόνης
Comment[eo]=Ekranrefreŝigo
Comment[es]=Refrescar pantalla
Comment[et]=Töölaua värskendamine
Comment[eu]=Pantaila Freskatu
Comment[fi]=Päivitä näyttö
Comment[fr]=Pour rafraîchir l'affichage
Comment[he]=ריענון המסך
Comment[hu]=az X képernyő frissítése
Comment[is]=Hreinsa skjáinn
Comment[it]=Aggiorna lo schermo
Comment[ja]=スクリーンのリフレッシュ
Comment[lt]=Perpiešti ekraną
Comment[lv]=Atsvaidzina Ekrāna
Comment[nb]=Frisk opp skjermen
Comment[nl]=scherm verversen
Comment[nn]=Teikn skjermen på nytt
Comment[pl]=Odświeżanie ekranu
Comment[pt]=Refrescar o Ecrã
Comment[pt_BR]=Atualização de Tela
Comment[ro]=Reafişează ecranul
Comment[ru]=Обновление экрана
Comment[sk]=Prekreslenie obrazovky
Comment[sl]=Osveži zaslon
Comment[sv]=Uppdatera skärmen
Comment[ta]=¾¢¨Ã Á£Ç¨ÁôÒ
Comment[th]=ปรับปรุงหน้าจอ
Comment[tr]=Ekranı Tazele
Comment[uk]=Поновлення екрану
Comment[ven]=U Kokodza Muya ha Tshikirini
Comment[vi]=Làm tươi lại màn hình
Comment[xh]=Zoba Kwakhona Ikhusi
Comment[zh_CN]=刷新屏幕
Comment[zh_TW]=更新螢幕
Comment[zu]=Vuselela kabusha Isikrini
Exec=xrefresh
Icon=normal/Monitor3DBlue
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xrefresh

[Desktop Entry]
Name=X Kill
GenericName=Window Termination Tool
Name[af]=X-maak-dood
Name[be]=X забіць
Name[eo]=X-Mortigo
Name[fr]=XKill
Name[th]=ฆ่าหน้าต่าง
Name[ven]=Bulayo la X
GenericName[af]=Venster Beëindiging Program
GenericName[ar]=أداة إنهاء النوافذ
GenericName[bs]=Alat za zatvaranje prozora
GenericName[cs]=Nástroj pro zavírání oken
GenericName[da]=Vindues-terminal-værktøj
GenericName[de]=Zum Schließen von Fenstern
GenericName[el]=Εργαλείο Τερματισμού Παραθύρων
GenericName[eo]=Ilo por mortigi programfenestrojn
GenericName[es]=Asesino de ventanas
GenericName[et]=Akende tapmine
GenericName[eu]=Leiho Akabatzaile Tresna
GenericName[fi]=Ikkunoiden tappotyökalu
GenericName[fr]=Pour fermer de force une fenêtre
GenericName[he]=כלי לחיסול חלונות
GenericName[hu]=X-ablakok kilövése
GenericName[is]=Tól til að loka gluggum (ef þeir eru frosnir)
GenericName[it]=Strumento per uccidere le finestre
GenericName[ja]=ウィンドウ停止ツール
GenericName[lt]=Langų uždarymo priemonė
GenericName[lv]=Loga Nokaušanas Rīks
GenericName[nb]=Verktøy som lukker vinduer
GenericName[nl]=vensters afschieten
GenericName[nn]=Verktøy for vindaugsavslutting
GenericName[pl]=Narzędzie do zabijania okien
GenericName[pt]=Destruir Janelas
GenericName[pt_BR]=Ferramenta de Finalização de Janelas
GenericName[ro]=Utilitar de distrugere ferestre
GenericName[ru]=Утилита закрытия окон
GenericName[sk]=Zatváranie okien
GenericName[sl]=Orodje z okenskim terminalom
GenericName[sv]=Verktyg för att terminera fönster
GenericName[ta]=º¡ÇÃ ¿¢¨È×ì ¸ÕÅ¢
GenericName[th]=เครื่องมือบังคับปิดหน้าต่าง
GenericName[tr]=Pencere Sonlandırma Aracı
GenericName[uk]=Засіб знищення вікон
GenericName[ven]=Tshishumiswa tsha u fhelisa Windo
GenericName[vi]=Công cụ kết thúc cửa sổ
GenericName[xh]=Isixhobo Sefestile Yokuphela
GenericName[zh_CN]=Window 终端工具
GenericName[zh_TW]=視窗終結工具
GenericName[zu]=Ithuluzi Lewindi Lokungaphakathi
Comment[af]=Venster Beëindiging Program
Comment[ar]=أداة إنهاء النوافذ
Comment[bs]=Alat za zatvaranje prozora
Comment[cs]=Nástroj pro zavírání oken
Comment[da]=Vindues-terminal-værktøj
Comment[de]=Zum Schließen von Fenstern
Comment[el]=Εργαλείο Τερματισμού Παραθύρων
Comment[eo]=Ilo por mortigi programfenestrojn
Comment[es]=Asesino de ventanas
Comment[et]=Akende tapmine
Comment[eu]=Leiho Akabatzaile Tresna
Comment[fi]=Ikkunoiden tappotyökalu
Comment[fr]=Pour fermer de force une fenêtre
Comment[he]=כלי לחיסול חלונות
Comment[hu]=X-ablakok kilövése
Comment[is]=Tól til að loka gluggum (ef þeir eru frosnir)
Comment[it]=Strumento per uccidere le finestre
Comment[ja]=ウィンドウ停止ツール
Comment[lt]=Langų uždarymo priemonė
Comment[lv]=Loga Nokaušanas Rīks
Comment[nb]=Verktøy som lukker vinduer
Comment[nl]=vensters afschieten
Comment[nn]=Verktøy for vindaugsavslutting
Comment[pl]=Narzędzie do zabijania okien
Comment[pt]=Destruir Janelas
Comment[pt_BR]=Ferramenta de Finalização de Janelas
Comment[ro]=Utilitar de distrugere ferestre
Comment[ru]=Утилита закрытия окон
Comment[sk]=Zatváranie okien
Comment[sl]=Orodje z okenskim terminalom
Comment[sv]=Verktyg för att terminera fönster
Comment[ta]=º¡ÇÃ ¿¢¨È×ì ¸ÕÅ¢
Comment[th]=เครื่องมือบังคับปิดหน้าต่าง
Comment[tr]=Pencere Sonlandırma Aracı
Comment[uk]=Засіб знищення вікон
Comment[ven]=Tshishumiswa tsha u fhelisa Windo
Comment[vi]=Công cụ kết thúc cửa sổ
Comment[xh]=Isixhobo Sefestile Yokuphela
Comment[zh_CN]=Window 终端工具
Comment[zh_TW]=視窗終結工具
Comment[zu]=Ithuluzi Lewindi Lokungaphakathi
Exec=xkill
Icon=normal/Wrench
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xkill

[Desktop Entry]
Name=Reset color map
GenericName=X Tool
Comment=X standard colormap utility
Exec=xstdcmap -default
Icon=normal/Recycle
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xstdcmap

[Desktop Entry]
Name=Keyboard LEDs
GenericName=X Tool
Comment=XKB extension user utility
Exec=xkbvleds
Icon=large/Keyboard2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xkbvleds

[Desktop Entry]
Name=X Font selector
GenericName=X Tool
Comment=Point and click selection of X11 font names
Exec=xfontsel
Icon=normal/Font
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xfontsel

[Desktop Entry]
Name=X Console
GenericName=Console Message Viewer
Comment=Console Message Viewer
Name[af]=X Konsole
Name[ar]=لوحة اكس
Name[az]=X Konsol
Name[be]=X кансоля
Name[bg]=X-конзола
Name[br]=Letrin X
Name[bs]=X konzola
Name[ca]=Consola X
Name[da]=X Konsol
Name[de]=X-Console
Name[el]=Κονσόλα X
Name[eo]=XKonzolo
Name[es]=Consola de X
Name[fi]=X-konsoli
Name[fr]=XConsole
Name[hr]=X konzola
Name[is]=X-kerfisskjár
Name[ko]=X용 콘솔
Name[lv]=X Konsole
Name[mk]=X конзола
Name[nb]=X-konsoll
Name[nn]=X-konsoll
Name[oc]=Consola X
Name[pl]=X Konsola
Name[pt]=Consola X
Name[ro]=Consolă X
Name[ru]=X-консоль
Name[sk]=X Konzola
Name[sr]=X Konzola
Name[sv]=X console
Name[ta]=X Ó¨ÉÂõ
Name[th]=คอนโซลของ X
Name[tr]=X Konsol
Name[vi]=Console X
Name[xh]=iConsole ye X
Name[zh_CN]=X 控制台
Name[zh_TW]=X 控制台
Name[zu]=X Khonsola
GenericName[af]=Konsole Boodskap Aansig
GenericName[ar]=عارض رسائل كونسول
GenericName[bs]=Preglednik poruka na konzoli
GenericName[cs]=Prohlížeč zpráv z konzole
GenericName[da]=Konsol-beskedvisning
GenericName[de]=E-Mail-Betrachter für die Konsole
GenericName[el]=Προβολή Μηνυμάτων Κονσόλας
GenericName[eo]=Rigardilo por Konzolo-mesaĝoj
GenericName[es]=Visor de mensajes de consola
GenericName[et]=Konsooli teadete vaatmine
GenericName[eu]=Konsolaren Mezu Ikusgailua
GenericName[fi]=Konsoliviestien näyttäjä
GenericName[fr]=Pour afficher les messages console
GenericName[he]=מציג הודעות מסוף
GenericName[hu]=Parancssoros üzenetnézegető
GenericName[is]=Skoðari fyrir skilaboð í skjáhermi
GenericName[it]=Visualizzatore messaggi della console
GenericName[ja]=コンソールメッセージビューア
GenericName[lt]=Konsolės pranešimų žiūriklis
GenericName[lv]=Konsoles Ziņojumu Skatītājs
GenericName[nb]=Meldingsviser for konsollet
GenericName[nl]=consolemeldingen-weergaveprogramma
GenericName[nn]=Konsollmeldingsvisar
GenericName[pl]=Podgląd komunikatów konsoli
GenericName[pt]=Visualizador de Mensagens da Consola
GenericName[pt_BR]=Visualizador de mensagens do Console
GenericName[ro]=Vizualizor mesaje consolă
GenericName[ru]=Программа просмотра сообщений консоли
GenericName[sk]=Prehliadač správ z konzole
GenericName[sl]=Pregledovalnik konzolnih sporočil
GenericName[sv]=Visare för konsollmeddelanden
GenericName[ta]=Ó¨ÉÂò ¾¸Åü ¸¡ðÊ
GenericName[th]=ตัวแสดงข้อความของคอนโซล
GenericName[tr]=Konsol Mesajı Görüntüleyici
GenericName[uk]=Переглядач повідомлень консолі
GenericName[ven]=Muvhoni wa Mulaedza wa Console
GenericName[vi]=Trình xem thông điệp console
GenericName[xh]=Umboniseli Womyalezo
GenericName[zh_CN]=控制台信息查看器
GenericName[zh_TW]=控制台訊息檢視器
GenericName[zu]=Console Umyalezo Womboniselo
Comment[af]=Konsole Boodskap Aansig
Comment[ar]=عارض رسائل كونسول
Comment[bs]=Preglednik poruka na konzoli
Comment[cs]=Prohlížeč zpráv z konzole
Comment[da]=Konsol-beskedvisning
Comment[de]=E-Mail-Betrachter für die Konsole
Comment[el]=Προβολή Μηνυμάτων Κονσόλας
Comment[eo]=Rigardilo por Konzolo-mesaĝoj
Comment[es]=Visor de mensajes de consola
Comment[et]=Konsooli teadete vaatmine
Comment[eu]=Konsolaren Mezu Ikusgailua
Comment[fi]=Konsoliviestien näyttäjä
Comment[fr]=Pour afficher les messages console
Comment[he]=מציג הודעות מסוף
Comment[hu]=Parancssoros üzenetnézegető
Comment[is]=Skoðari fyrir skilaboð í skjáhermi
Comment[it]=Visualizzatore messaggi della console
Comment[ja]=コンソールメッセージビューア
Comment[lt]=Konsolės pranešimų žiūriklis
Comment[lv]=Konsoles Ziņojumu Skatītājs
Comment[nb]=Meldingsviser for konsollet
Comment[nl]=consolemeldingen-weergaveprogramma
Comment[nn]=Konsollmeldingsvisar
Comment[pl]=Podgląd komunikatów konsoli
Comment[pt]=Visualizador de Mensagens da Consola
Comment[pt_BR]=Visualizador de mensagens do Console
Comment[ro]=Vizualizor mesaje consolă
Comment[ru]=Программа просмотра сообщений консоли
Comment[sk]=Prehliadač správ z konzole
Comment[sl]=Pregledovalnik konzolnih sporočil
Comment[sv]=Visare för konsollmeddelanden
Comment[ta]=Ó¨ÉÂò ¾¸Åü ¸¡ðÊ
Comment[th]=ตัวแสดงข้อความของคอนโซล
Comment[tr]=Konsol Mesajı Görüntüleyici
Comment[uk]=Переглядач повідомлень консолі
Comment[ven]=Muvhoni wa Mulaedza wa Console
Comment[vi]=Trình xem thông điệp console
Comment[xh]=Umboniseli Womyalezo
Comment[zh_CN]=控制台信息查看器
Comment[zh_TW]=控制台訊息檢視器
Comment[zu]=Console Umyalezo Womboniselo
Exec=xconsole
Icon=logos/XWindow3
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xconsole

[Desktop Entry]
Name=Xvidtune
GenericName=X Tool
Comment=Video mode tuner for Xorg
Exec=xvidtune
Icon=normal/Monitor3DBlue
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=xvidtune

[Desktop Entry]
Name=Change Xdefaults
GenericName=X Tool
Comment=
Exec=editres
Icon=logos/XWindow3
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXTools
TryExec=editres

[Desktop Entry]
Name=Speed - 0 (No Accel.)
GenericName=X Tool
Comment=User preference utility for X
Exec=exec xset m 0 10000
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 1 (Slower)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m default
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 2 (Normal)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m 5 10
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 3 (Fast)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m 7 8
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 4 (Faster)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m 10 7
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 5 (Even Faster)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m 15 6
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Speed - 6 (Ultra Fast)
GenericName=X Tool
Comment=User preference utility for X
Exec=xset m 20 5
Icon=normal/Mouse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xset

[Desktop Entry]
Name=Left-handed (3 2 1)
GenericName=X Tool
Comment=Utility for modifying keymaps and pointer button mappings in X
Exec=xmodmap -e "pointer = 3 2 1"
Icon=TouchLeftHand
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xmodmap

[Desktop Entry]
Name=Right-handed (1 2 3)
GenericName=X Tool
Comment=Utility for modifying keymaps and pointer button mappings in X
Exec=xmodmap -e "pointer = 1 2 3"
Icon=normal/Touch
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AfterStepXMouseTools
TryExec=xmodmap
