# Back up files
*~
*.swp

# Generated make and AutoConf files
Makefile
config.h
config.log
config.status
configure.h

# Generated library files
*.a

# Generated object files
*.o

# AfterStep build process resulting files
AfterStep.desktop
AfterStep.desktop.final
AfterStep.spec
afterstep/applications/modules.desktop
afterstep/autoexec
afterstep/base
afterstep/pager
afterstep/sound
afterstep/start/.include
afterstep/start/1_Desktop/Color_Scheme/.include
afterstep/start/1_Desktop/Feel/.include
afterstep/start/1_Desktop/Look/.include
afterstep/start/1_Desktop/Pictures/AfterStep_Images/.include
afterstep/start/1_Desktop/Pictures/User_Backgrounds/.include
afterstep/start/1_Desktop/Theme/.include
afterstep/start/3_run
autoconf/Makefile.common
autoconf/Makefile.common.lib
autoconf/Makefile.defines
doc/afterstepdoc
libASGTK/asgtk-config
libASGTK/show_flags_cc
libAfterBase/afterbase_config.h
libAfterBase/config.h
libAfterBase/config.log
libAfterBase/config.status
libAfterBase/show_flags_cc
libAfterConf/PrintDesktopEntries
libAfterConf/show_flags_cc
libAfterImage/afterbase.h
libAfterImage/afterimage-config
libAfterImage/afterimage-libs
libAfterImage/apps/ascheckttf
libAfterImage/apps/ascompose
libAfterImage/apps/asflip
libAfterImage/apps/asgrad
libAfterImage/apps/asi18n
libAfterImage/apps/asmerge
libAfterImage/apps/asscale
libAfterImage/apps/astext
libAfterImage/apps/astile
libAfterImage/apps/asvector
libAfterImage/apps/asview
libAfterImage/show_flags_cc
libAfterStep/afterstep-config
libAfterStep/show_flags_cc
src/ASDocGen/ASDocGen
src/ASDocGen/do_compile
src/ASDocGen/doc_html
src/ASDocGen/doc_man
src/ASDocGen/html/
src/ASDocGen/log.html
src/ASDocGen/log.man
src/ASDocGen/man/
src/ASDocGen/show_flags_cc
src/ASMount/ASMount
src/Animate/Animate
src/Arrange/Arrange
src/Banner/Banner
src/Banner/Banner.sh
src/Ident/Ident
src/Pager/Pager
src/Wharf/Wharf
src/WinCommand/GWCommand
src/WinCommand/WinCommand
src/WinList2/WinList
src/WinTabs/WinTabs
src/afterstep/afterstep
src/afterstep/show_flags_cc
src/ascp/ascolor
src/tools/ASFileBrowser/ASFileBrowser
src/tools/ASRun/ASRun
src/tools/ASWallpaper/ASWallpaper
tools/installastheme.pl
tools/makeastheme.pl
tools/postcard.sh